.gallery-single(ng-controller="showProjectController")
  .information
    .close-container
      %a.close
    .line-container.information-current-user
      .ava
        %img(ng-src='{{project.user.avatar_url}}')
      .table-information-current-user
        %a.name
          {{project.user.name}}
        .position
          developer
        %a.folow-user.active
          Подписаны
          %span
            5
    .line-container.description
      %h2
        {{project.name}}
      %span.content
        {{project.description}}
      %a(ng-if='$scope.project.description.length')
        Далее
      .date
        {{project.created_at}}
      .actions-user
        %a.view
          {{project.view_count}}
        %a.like
          {{project.likes_count}}
        %a.comment
          {{project.comments_count}}
    .line-container.emotions(ng-controller="projectEmotionsController")
      %img(src="assets/emotions/sprite.png" id="emotions-sprite" style="display:none")
      %div(preload-resource="#{emotion_types}" resource-key="emotionTypes")
      .emotion-button(ng-repeat="type in preloadedResources.emotionTypes"
                      ng-class="type | lowercase"
                      ng-click="addEmotion(type)"
                      )
        .counter.unselectable
          {{emotionGroups[type].length}}
      %canvas(width="300" height="220" id="emotions-canvas" emotions-background)
    .line-container.share.unselectable
      %h2
        Поделиться
      %a.vk
        Мне нравится
      %a.twitter
        Твитнуть
    .line-container.categories
      %a(ng-repeat='category in categories')
        {{category}}
    .line-container.tags
      %a(ng-repeat='tag in tags')
        {{tag}}
    .line-container.other-job
      %img(ng-repeat='other_project in more_projects_by_user' ng-src='{{other_project.asset_url}}' alt='other_project.name')
    .line-container.complaint
      %a
        Пожаловатся на работу
  .image-container
    %a.prev
    .image-current-user
      %img.unselectable(ng-src='{{project.asset_url}}')
    %a.next
