.search-container-new
  - @users.each do |u|
    %div.search-container
      = image_tag(u.avatar)
      .search
        .search-description
          = link_to u.name, u, class: 'avatar'
        - if u.city?
          .blue
            =image_tag('locationGr.png')
            %span
              Минск
        - if u.vk?
          .blue
            =image_tag('vkGr.png')
        .action-button
          = render 'users/follow_button', resource: u
      %div.picture-search
        - u.popular_pictures.each do |p|
          = link_to image_tag(p.path.thumb.url), picture_path(p.id)

