- @users.each do |u|

  %div
    = image_tag(u.avatar)
    = link_to u.name, u
    %div
      - u.popular_for_search_pictures.each do |p|
        = link_to image_tag(p.path.thumb.url), picture_path(p.id)

