!!! 5
%html(lang="ru")
  %head
    = stylesheet_link_tag "foundation_and_overrides", :media => "all", "data-turbolinks-track" => true
    %a.btn-blue
      sdfdsfewr
      %span
        = image_tag("share.gif")
    %a.btn-green
      sdfdsfewr
    %a.btn-blue
      sdfdsfewrsdfsdfsdf
      %span
        = image_tag("follow.gif")
    %h1
      slava
    %h2
      slava
    %h3
      slava
    %h4
      slava
    %h5
      slava
    %h6
      slava
    %a.btn-blue-double
      %span
        = image_tag("cloudlet.png")
      Загрузить

