!!! 5
%html(lang="ru")
  %head
    = stylesheet_link_tag "foundation_and_overrides", :media => "all", "data-turbolinks-track" => true
    .container
      .btn.btn-blue
        %a Мне нравится
        = image_tag('share.gif')
        %span 5
    .container
      .btn.btn-red
        %a Мне не нравится
        = image_tag('share.gif')
        %span 5

    %h1
      slava
    %h2
      slava
    %h3
      slava
    %h4
      slava
    %h5
      slava
    %h6
      slava
    %a.btn-blue-double
      %span
        = image_tag("cloudlet.png")
      Загрузить

