#abyss(ng-controller="AbyssController")
  %div(preload-resource="#{orders_map}" resource-key="order")
  %div(preload-resource="#{categories_map}" resource-key="categories")
  .banner
    .banner-container
      %h1
        Мы любим творчество
      %p
        Вступай в наше сообщество и делись своими работами!
  .filters-container
    .filters-container-left
      %ul
        %li.unselectable(ng-repeat="filter in filters.order" ng-class="{ active: filter.active }")
          %a(ng-click="setOrderFilter(filter.key)")
            {{ filter.name }}
    .filters-container-right
      %ul
        %li.active
          %a{:"ng-click"=>"togglePopap()"}
            Категория
            %i.fa.fa-chevron-down
        %li
          %a
            Тип графики:
        %li
          %a
            2D
            %i.fa.fa-chevron-down
    .popup-categories
      .item(ng-repeat="category in filters.categories" ng-class-odd="'odd'" ng-class-even="'even'")
        %label
          %input(type='checkbox' name='{{category.key}}' ng-model='category.active' ng-change='applyFilters()')
          %span
          .name
            {{category.name}}
  #pictures(resizable images-reseted infinite-scroll="loader.loadMore()")
    .picture-container.hide#fake-for-js
    .picture-container(ng-repeat="project in loader.projects")
      .image-block
        %a(ng-href="{{project.path}}")
          %img.picture.loading(ng-src="{{project.thumb_path}}" image-loaded)
          .info
            %h5
              {{project.name|truncate:40}}
          .name
            %a(ng-href="{{project.user_url}}")
              {{project.user_name|truncate:35}}
    #preview-resizer(ng-bind-html="fallbackImageStyleHack")
