#abyss(ng-controller="AbyssController")
  %div(preload-resource="#{orders_map}" resource-key="order")
  %div(preload-resource="#{categories_map}" resource-key="categories")
  .banner
    .banner-container
      %h1
        Мы любим творчество
      %p
        Вступай в наше сообщество и делись своими работами!
  .filters-container(fixed-on-top data-arrow='js-arrow-to-top' data-name='arrow')
    %a.filters-arrow.js-arrow-to-top
    .filters-container-left
      %ul
        %li.unselectable(ng-repeat="filter in filters.order" ng-class="{ active: filter.active }")
          %a(ng-click="setOrderFilter(filter.key)")
            {{ filter.name }}
    .filters-container-right.unselectable
      %ul
        %li.active
          %a.popup-category
            Категория
            %i.fa.fa-chevron-down
        %li
          %a
            Тип графики:
        %li
          %a.js-schedule
            2D
            %i.fa.fa-chevron-down
    .popup-categories.unselectable(popup data-exclude='["popup-category", "js-category", "popup-categories", "js-category-checkbox"]' data-trigger="popup-category" data-name='popup-category')
      .item(ng-repeat="category in filters.categories" ng-class-odd="'odd'" ng-class-even="'even'")
        %label
          %input.js-category-checkbox(type='checkbox' name='{{category.key}}' ng-model='category.active' ng-change='applyFilters()')
          %span.js-category
          .name
            {{category.name}}
    .popup-schedule(popup data-exclude='["popup-schedule","js-schedule"]' data-trigger="js-schedule" data-name='popup-schedule')
      .schedule
        %input(type='radio' name='btn' id='all')
        %label(for='all')
          Все типы
      .schedule
        %input(type='radio' name='btn' id='two-schedule')
        %label(for='two-schedule')
          2D
      .schedule
        %input(type='radio' name='btn' id='three-schedule' )
        %label(for='three-schedule')
          3D


  #pictures(resizable images-reseted infinite-scroll="loader.loadMore()")
    .picture-container.hide#fake-for-js
    .picture-container(ng-repeat="project in loader.projects")
      .image-block
        %a(ng-href="{{project.path}}")
          %img.picture.loading(ng-src="{{project.thumb_path}}" image-loaded)
          .info
            %h5
              {{project.name|truncate:40}}
          .name
            %a(ng-href="{{project.user_url}}")
              {{project.user_name|truncate:35}}
    #preview-resizer(ng-bind-html="fallbackImageStyleHack")
