!!! 5
%html
  %head
  %body
    %p Добрый день, как настроение?
    %p Спасибо что проявили интерес к нашему проекту.
    %p Для нас искусство - это мир непрекращающихся дискуссий. Это соревнование, в котором побеждает всё человечество.
    %p Нам больше не нужно ходить в художественные галереи и музеи для того, чтобы посмотреть на произведения искусства. Найти их в сети очень просто, однако, если в тебе самом живет художник, то как заставить других людей обратить на себя внимание?
    %p Именно это и является нашей целью - создать единое сообщество людей, которые хотят быть частью мира искусства.
    %p Вы любите рисовать? Хотели ли бы вы, чтобы ваши работы увидел весь мир? Вам бы хотелось обсуждать свои и чужие работы с такими же людьми, как вы? Вы хотите получать вдохновение и вдохновлять других?
    %p Мы считаем, что каждый художник хочет этого.
    %p
      %a{href: 'http://artoverflow.com'} Art Overflow 
      создается для поддержки, вдохновения и развития художника внутри вас. Он позволяет выставлять, продвигать и делиться своими работами среди сообщества, посвященному искусcтву.
    %p Проект находится в стадии разработки, и мы будет держать вас в курсе последних новостей.
    %p Спасибо за проявленный интерес!
    %p
      Посмотреть последние новости и пообщаться с нами можно в соц сетях:
      %br
      %a{href: 'http://vk.com/ArtOverflow'} http://vk.com/ArtOverflow
      %br
      %a{href: 'http://twitter.com/ArtOverflow'} http://twitter.com/ArtOverflow
    %p
      Команда 
      %a{href: 'http://artoverflow.com'} ArtOverflow
    %p{style: 'visibility:hidden', title: 'Web beacon'}
      [[tracking_beacon]]
    %br
    %p
      Если вы не желаете получать новости от Art Overflow, вы можете #{unsubscribe_link(@subscriber)}
