%h2.edit-profil
  Настройки профиля
.profil-menu
  %ul
    %li.active
      = active_link_to 'Личные данные', edit_user_path(resource)
    %li.active
      = active_link_to 'Пароль', edit_user_passwords_path
    %li.active
      = active_link_to 'Уведомления', user_notification_settings_path(resource)
