%div{'data-check-user' => true, 'data-user-id' => @user.id}
.row.profil
  .large-2.columns
    =image_tag("download.jpeg")
  .large-5.columns
    %h3
      Евстратенко Константин
    %sup
      %span.grey
        wiNnie
      %span.red
        PRO
    .social
      %a
        %span.blue
          =image_tag("locationGr.png")
          Беларусь, Минск
      %a
        %span.blue
          =image_tag("glob.png")
          winniehooper.com
      %span.blue
        %a
          =image_tag("twitterGr.png")
        %a
          =image_tag("vkGr.png")
    = render 'users/follow_button', following: @following, user: @user
  .large-5.columns
    .row
      .large-4.columns
      .large-4.columns
      .large-4.columns
.profil-menu
  .row
    .large-12
      %ul.small-block-grid-6
        %li
          %a
            Новые
          =image_tag("arrowblue.png")
        %li
          %a
            Популярные
        %li
          %a
            Альбомы
        %li
          %a
            На продажу
        %li
          %a
            Понравились
        %li
          %a
            Тэги
  //.picture-actions
  //  = render partial: 'follow_button', locals: {user: @user, following: @following}
