.profil.show-user-album
  .description-user-album
    - @pic = Picture.any? ? Picture.first.path : nil
    =image_tag(@pic)
    .comuns-description-user-album
      %h3
        = resource.name
      %a{ href: user_pictures_path(resource.user) }
        = resource.user_name
      %div
        = resource.description
  .profil-data
    .user-counters
      .likes
        .top
        .bottom
        .count
          = resource.pictures_count
        %span.blue
          Рисунков
