= render parent.to_header_path, resource: parent

#pictures{ data: {                            |
    infinity_scrollable: true,                |
    id: 'main_gallery',                       |
    current_page: page,                       |
    fetch_path: url_for([parent, :albums])    |
    }                                         |
  }                                           |

  .image-block
    .container
      = link_to_modal(new_user_album_path(parent), class: :added, data: { remote: true }) do
        %span.plus
        .name-new-album.add_album
          Создать альбом

  .pager{data: {page: page}}
  .preloader{data: { scroller_preloader: true }}

