#newAlbum.modal-content
  = simple_form_for([parent, resource], remote: true) do |f|
    .title
      Создать альбом
    = f.input :name
    = f.input :description
    = f.button :submit, value: 'Создать альбом', class: 'btn btn-green', 
      data: { disable_with: 'В процессе' }
