= cache picture do
  .image-block
    /%h1
    /  = picture.name
    %a{href: picture_path(picture)}
      .info
        %h5=picture.name
        %p
          You've got an a tag containing an img tag. That's your normal state. You then add a background-image as your hover state, and it's appearing in the background of your a tag - behind the img tag.
      = image_tag picture.path.thumb, class: 'picture'
      .name
        = link_to picture.user_name, [picture.user, :pictures]
      .picture-actions
        %div.heart_normal
        %span
          = picture.likes_count
        %div.share_normal
        %span
          3
