= render(parent.to_header_path, resource: parent) if parent

- if parent && parent.is_a?(User)
  = render partial: 'users/navigation', locals: { resource: parent }
- elsif parent && parent.is_a?(Album)
  = render partial: 'albums/navigation', locals: { resource: parent }


.banner
  .banner-container
    %h1
      Мы любим творчество
    %p
      Вступай в наше сообщество и делись своими работами!
.filter-canister
  .filter-canister-left
    %ul
      %li.active
        %a
          Популярные
      %li
        %a
          Новые
  .filter-canister-right
    %ul
      %li.active
        %a
          Категория
          %i.fa.fa-chevron-down
      %li
        %a
          Теги
          %i.fa.fa-chevron-down
      %li
        %a
          Тип графики:
      %li
        %a
          2D
          %i.fa.fa-chevron-down
  .popap-categories
    .item
      %label
        %input{type:'checkbox' , name:'animate'}
        %span
      %label{for:'animate'}
        Анимация
    .item
      %label
        %input{type:'checkbox' , name:'animate'}
        %span
      %label{for:'animate'}
        Анимация
    .item
      %label
        %input{type:'checkbox' , name:'animate'}
        %span
      %label{for:'animate'}
        Анимация

- if parent && parent.pictures_count == 0
  - if parent.is_a?(User)
    .container-for-empty{ data: { user_id: parent.id, hide_if_owner: true } }
      %h2
        У автора еще нет работ.
      .image-block-empty
        =image_tag 'empty.png'
        =image_tag 'empty.png'
        =image_tag 'empty.png'

    .container-for-empty{ data: { user_id: parent.id, show_if_owner: true } }
      %h2
        У вас еще нету загруженных работ.
      .image-block-empty
        =image_tag 'empty.png'
        =image_tag 'empty.png'
        =image_tag 'empty.png'

  - elsif parent.is_a?(Album)
    .container-for-empty{ data: { user_id: parent.user_id, hide_if_owner: true } }
      %h2
        В альбоме еще нет работ.
      .image-block-empty
        =image_tag 'empty.png'
        =image_tag 'empty.png'
        =image_tag 'empty.png'

    .container-for-empty{ data: { user_id: parent.user_id, show_if_owner: true } }
      %h2
        В альбоме еще нет работ.
      .image-block-empty
        =image_tag 'empty.png'
        =image_tag 'empty.png'
        =image_tag 'empty.png'

- else
  #pictures{ data: {                            |
      infinity_scrollable: true,                |
      id: 'main_gallery',                       |
      current_page: page,                       |
      fetch_path: url_for([parent, :pictures])  |
      }                                         |
    }                                           |

    .pager{data: {page: page}}

    .scroller-preloader{data: { scroller_preloader: true }}
      = image_tag 'scroller-preloader.gif'
      %span
        Загрузка...
