:javascript
  $(document).on('ready page:load', function(){
    window.picturesProcessor = new PicturesProcessor(#{@page}, #{PicturesController::PAGE_SIZE})
  })
#pictures
  = render @pictures
  - if @pictures.count == PicturesController::PAGE_SIZE
    - #Если число картинок кратно PAGE_SIZE, то кнопка "загрузить позже" ничего не сделает :(
    %a#button_load_more{href: '#'}
      = I18n.t('pictures.show_more')
