= cache parent do
  #modal-options{data: { class: 'mini-users' } }
  %div.mini-users-container
    - if collection.present?
      = render partial: 'follow', collection: collection
    - else
      .images
        = image_tag 'no-follows.png', class: 'no-follows'
      .container-for-empty
        %h2
          Этот пользователь ни на кого не подписан. Ты можешь быть первым.
