// Place all the styles related to the albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'setting.css.scss';

.comments{
  font-family: Arial;
}
.like-img{
  display: inline-block;
  width: 13px;
  height: 12px;
  background: url(image-path('heart_normal.png')) no-repeat;
  vertical-align:  -2px;
}
.unlike-img{
  display: inline-block;
  width: 13px;
  height: 12px;
  background: url(image-path('heart_active.png')) no-repeat;
  vertical-align:  -2px;
}
.like-button-comment{
  color:#797d80;
  font-family: Arial;
  font-size: 12px;
  text-decoration: none!important;
  float: right;
  padding: 4px 10px!important;
  padding-top: 5px !important;
  border-radius: 6px;
  position: absolute;
  top: 9px;
  right: 0;

  margin-right: 0!important;
  &:hover{
    background: #E9EDF1;
    color:#797d80;
  }
}
.show-all-comment{
  color: white;
  background-color: #b1d2d5;
  text-align: center;
  display: block;
  overflow: hidden;
  border-radius: 6px;
  padding: 9px 0;
  margin-left: -0.9375em;

  &:hover{
    color: white;
    background-color: #5f979d;
  }
}
.me_like{
  float: right;
  margin-right: 5px;
  font-size: 12px;
  font-family: Arial;
  color: #797d80;
  margin-top: -3px;
}
.reply-to-comment-container hr{

  display: none!important;
}
.button-blue{
  background-color: #70b2b8;
  background-image: url(image-path('like-img.gif'));
  background-repeat: no-repeat;
  background-position:  10px 8px;
  font-size: 14px;
  font-family: Arial;
  font-weight: bold;
  color: white;
  padding: 9px 30px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  overflow: hidden;
  padding-right: 10px;
  transition: all 0s ease-in-out;
  text-decoration: none;
  &:hover{
    color: white;
    background-color: #e74c3c;
  }
}

.button-red{
  background-color: #e74c3c;
  background-image: url(image-path('like-img.gif'));
  background-repeat: no-repeat;
  background-position:  10px 8px;
  font-size: 14px;
  font-family: Arial;
  font-weight: bold;
  color: white;
  padding: 9px 30px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  transition: all 0s ease-in-out;
  overflow: hidden;
  padding-right: 10px;
  transition: none ;
  &:hover{
    color: white;
    background-color: #e74c3c;
  }

}
.button-blue ~ .counter-container{
  transition: all 0s ease-in-out;
  border: 1px solid #70b2b8;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #70b2b8;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 10px;
margin-right: 15px;
}
.button-blue:hover ~ .counter-container{
  border-left: 1px solid #e74c3c;
}

.button-red ~ .counter-container{
  transition: all 0s ease-in-out;
  border: 1px solid #e74c3c;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #e74c3c;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 10px;
  margin-right: 15px;
}

.button-red:hover ~ .counter-container{
  border: 1px solid #e74c3c;

}

.counter-container:hover{
  text-decoration: underline;
}
.image-block {
  float: left;
  .add-new-album{
    min-height: 259px;
  }
  .added{
    height: 180px;
    margin-bottom: 30px;
    width: 315px;
    background: #b1d2d5;
    border: 15px solid #ecf0f1;
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    .plus{
      background: url(image-path('add-plus.png')) no-repeat;
      height: 40px;
      width: 40px;
      margin: 0 auto;
      display: block;
    }
    .name{
      color: white;
      font-size: 16px;
      font-weight: bold;
      padding-left: 73px;
    }
  }
}
.modal-content{
  background: #fff;
  padding: 15px;
  padding-top: 0;
  z-index: 1134;
  top: 115px;
  margin-left: -325px;
  width: 565px;
  display: block;
  position: fixed;
  left: 50%;
  overflow: hidden;
  border-radius: 13px;
  .input{
    margin: 20px 0 20px 0;

    & abbr{
      color: red;
    }

    &.error{
      margin: 20px 0 20px 0;

      input, textarea{
        border: 2px solid $colorRed;
      }
    }

    input, textarea{
      display: block;
      width: 545px;
      border: 1px solid $grey;
      font-size: 16px;
      padding: 10px 10px;
      border-radius: 5px;
      resize: none;
    }

    textarea{
      height: 110px;
    }
  }
  .title{
    margin-left: -15px;
    margin-right: -15px;
    background: #26394d;
    font-size: 20px;
    color: white;
    font-weight: bold;
    padding: 15px 20px ;
  }
  .close{
    color: white;
    font-size: 15px;
    position: absolute;
    top: 9px;
    right: 15px;
    cursor: pointer;
  }
  .button{
    border: 0 none transparent;
    font-family: Arial;
    font-size: 14px;
    cursor: pointer;
    float: right;
    padding: 8px;
    margin: 0;
    &:hover{
      background-color: #e74c3c;
    }
  }
  .close-reveal-modal{
    display: none;
  }
  .close-modal{
    text-decoration: none;
    display: block;
    background: #969696;
    float: right;
    color: white;
    border: 0 none transparent;
    font-family: Arial;
    font-size: 14px;
    padding: 9px;
    border-radius: 6px;
    margin-left: 15px;
  }
  input:focus,textarea:focus,input:active,textarea:active{
    outline: none;
    box-shadow: none;
  }
}
.modal-background{
  position: fixed;
  top: 0;
  bottom: -50px;
  left: 0;
  right: 0;
  z-index: 1112;
  background: #000;
  opacity: .6;
  filter: alpha(opacity=60);
  display: block;
}
.edit-container{
  margin-bottom: 0;
  background: #e6e6e6;
  >div{
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    max-width: 1660px;
    padding: 0 20px;
    .image-edit-preview{
      width: 315px;
      margin-top: 20px;
      float: left;
      img{
        width: 100%;
      }
      a{
        text-decoration: none;
        margin-top: 10px;
        font-size: 12px;
        font-family: Arial;
        color: $blue;
        display: inline-block;
        cursor: pointer;
        font-weight: bold;
        &:hover{
          color: $colorRed;
        }
      }
    }
  }
}
