// Place all the styles related to the albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'setting.css.scss';

.comments{
  font-family: Arial;
}
.like-img{
  display: inline-block;
  width: 13px;
  height: 12px;
  background: url(heart_normal.png) no-repeat;
  vertical-align:  -2px;
}
.unlike-img{
  display: inline-block;
  width: 13px;
  height: 12px;
  background: url(heart_active.png) no-repeat;
  vertical-align:  -2px;
}
.like-button-comment{
  color:#797d80;
  font-family: Arial;
  font-size: 12px;
  text-decoration: none!important;
  float: right;
  padding: 4px 10px!important;
  padding-top: 5px !important;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  position: absolute;
top: 12px;
right: 0;

  margin-right: 0!important;
  &:hover{
    background: #E9EDF1;
    color:#797d80;
  }
}
.show-all-comment{
  color: white;
  background-color: #b1d2d5;
  text-align: center;
  display: block;
  overflow: hidden;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: 9px 0;
  margin-left: -0.9375em;

  &:hover{
    color: white;
    background-color: #5f979d;
    }
}
.me_like{
  float: right;
  margin-right: 5px;
  font-size: 12px;
  font-family: Arial;
  color: #797d80;
  margin-top: -3px;
}
.reply-to-comment-container hr{

  display: none!important;
}
.button-blue{
  background-color: #70b2b8;
  background-image: url(like-img.gif);
  background-repeat: no-repeat;
  background-position:  10px 8px;
  font-size: 14px;
  font-family: Arial;
  font-weight: bold;
  color: white;
  padding: 9px 30px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
  padding-right: 0;
  -webkit-transition: all 0s ease-in-out;
  -moz-transition: all 0s ease-in-out;
  -o-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
  text-decoration: none;
  &:hover{
    color: white;
    background-color: #e74c3c;
    .active-count{
      background-color: #bf4032;
    }
  }
  .active-count{
    padding: 9px 10px;
    background-color: #5f979d;
    height: 100%;
    margin-bottom: -9px;
    margin-top: -9px;
    margin-left: 9px;
    display: inline-block;
    .spinner-icon{
      display: inline-block;
      height: 12px;
      margin-top: -5px;
      vertical-align: -2px;
      width: 12px;
      border-top-color: white;
      border-left-color: white;
    }
  }
}

.button-red{
  background-color: #e74c3c;
  background-image: url(like-img.gif);
  background-repeat: no-repeat;
  background-position:  10px 8px;
  font-size: 14px;
  font-family: Arial;
  font-weight: bold;
  color: white;
  padding: 9px 30px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
  padding-right: 0;
  transition: none ;
  &:hover{
    color: white;
    background-color: #e74c3c;
    .active-count{
      background-color: #bf4032;
    }
  }
  .active-count{
    padding: 9px 10px;
    background-color: #bf4032;
    height: 100%;
    margin-bottom: -9px;
    margin-top: -9px;
    margin-left: 9px;
    display: inline-block;
    .spinner-icon{
      display: inline-block;
      height: 12px;
      margin-top: -5px;
      vertical-align: -2px;
      width: 12px;
      border-top-color: white;
      border-left-color: white;
    }
  }
}
.image-block {
  float: left;
  .added{
    display: block;
    height: 210px;
    width: 315px;
    background: #b1d2d5;
    border: 4px dashed #5f979d;
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    .plus{
      background: url(add-plus.png) no-repeat;
      height: 40px;
      width: 40px;
      margin: 0 auto;
      display: block;
    }
    .name{
      color: white;
      font-size: 16px;
      font-weight: bold;
      padding-left: 73px;
    }
  }
}
.modal-content{
  background: #fff;
  padding: 15px;
  padding-top: 0;
  z-index: 1134;
  top: 115px;
  margin-left: -325px;
  width: 565px;
  display: block;
  position: fixed;
  left: 50%;
  overflow: hidden;
  border-radius: 13px;
  .input{
    margin: 20px 0 20px 0;

    & abbr{
      color: red;
    }

    &.error{
      margin: 20px 0 20px 0;

      input, textarea{
        border: 2px solid $colorRed;
      }
    }

    input, textarea{
      display: block;
      width: 545px;
      border: 1px solid $grey;
      font-size: 16px;
      padding: 10px 10px;
      border-radius: 5px;
      resize: none;
    }

    textarea{
      height: 110px;
    }
  }
  .title{
    margin-left: -15px;
    margin-right: -15px;
    background: #26394d;
    font-size: 20px;
    color: white;
    font-weight: bold;
    padding: 15px 20px ;
  }
  .close{
    color: white;
    font-size: 15px;
    position: absolute;
    top: 9px;
    right: 15px;
    cursor: pointer;
  }
  .button{
    border: 0 none transparent;
    font-family: Arial;
    font-size: 14px;
    cursor: pointer;
    float: right;
    padding: 8px;
    margin: 0;
    &:hover{
      background-color: #e74c3c;
    }
  }
  .close-reveal-modal{
    display: none;
  }
  .close-modal{
    text-decoration: none;
    display: block;
    background: #969696;
    float: right;
    color: white;
    border: 0 none transparent;
    font-family: Arial;
    font-size: 14px;
    padding: 9px;
    border-radius: 6px;
    margin-left: 15px;
  }
  input:focus,textarea:focus,input:active,textarea:active{
    outline: none;
    box-shadow: none;
  }
}
.modal-background{
  position: fixed;
  top: 0;
  bottom: -50px;
  left: 0;
  right: 0;
  z-index: 1112;
  background: #000;
  opacity: .6;
  filter: alpha(opacity=60);
  display: block;
}
.edit-container{
  margin-bottom: 0;
  background: #e6e6e6;
>div{
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  max-width: 1660px;
  padding: 0 20px;
.image-edit-album{
  width: 315px;
  margin-bottom: 50px;
  padding-top: 50px;
  float: left;
  img{
    width: 100%;
  }
  a{
    margin-top: 10px;
    font-size: 12px;
    font-family: Arial;
    color: $blue;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    &:hover{
      color: $colorRed;
    }
    a:last-child{

    }
  }
}
.form-edit-album{
  margin-left: 335px;
  margin-top: 50px;
  .button{
    font-size: 14px;
    font-family: Arial;
    border: 0 none transparent;
    &:hover{
      background-color: #e74c3c;
    }
  }
  label{
    padding: 8px 3px;
    margin: 0;
    font-size: 15px;
    font-family: Arial;
    font-weight: normal;
    display: block;

  }
  input,textarea{
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    color: rgba(0,0,0,0.75);
    padding: 10px;
    min-width: 400px;
  }
  .btn-green{
    width: auto;
    min-width: 0;
    margin-top: 15px;
    margin-bottom:20px;
    color: #ffffff;
  }
  textarea:focus,input:focus{
    box-shadow: none;
  }
  textarea{
    resize:none;
    height: 120px;
    -webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
  }
}
}
}
