@font-face{
  font-family: Gothic;/*задаем назв. шрифта*/
  src: font-url('gothic-bold.otf');/*подключаем сторон. шрифт*/
}
$font:Gothic;
$colorGreen: #27ae60;
$colorBlue: #70b2b8;
$colorRed: #e74c3c;
$colorDarkRed: #bf4032;
$colorDarkBlue:#5f979d;
$colorBgDarkBlue: #26394d;
@mixin border-radius($radius){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
} 
@mixin transition($arg){
  -webkit-transition: $arg;
  -moz-transition: $arg;
  -o-transition: $arg;
  transition: $arg;
}
.btn{
  @include border-radius(6px);
  color: #ffffff;
  display: inline-block;
  padding: .5em;
  &:hover{
    color: #ffffff;
  }
  img{
    vertical-align: -1px;
    margin-left: 0.2em;
  }
  span {
    margin-top: -1em;
  }
}

.btn-blue{
  background-color: $colorBlue;
  &:hover{
    background-color: $colorDarkBlue;
  }
}

.btn-green{
  background-color: $colorGreen;
}

.btn-red{
  background-color: $colorRed;
  &:hover{
    background-color: $colorDarkRed;
    opacity: 1;
  }
}

body{
  margin-top: 20%;
  margin-left: 45%;
}

h1,h2,h3,h4,h5,h6{
  font-family: $font;
}

ul{
  li{
    a{
      color: $colorBlue;
      &:hover{
        color: $colorBlue;
      }
    }
  }
}

.btn-blue-double{
  background-color: $colorBlue;
  display: inline-block;
  width: 130px;
  height: 28px;
  color: #ffffff;
  float: right;
  @include border-radius(6px);
  @include transition(all 0.3s ease-in-out);
  padding-left: 0px;
  font-size: 14px;
  font-weight: bold;
  font-family: Arial;
  text-align: center;
  text-decoration: none;
  span.icon {
    @include transition(all 0.3s ease-in-out);
    height: 28px;
    width: 40px;
    float: left;
    background-color: $colorDarkBlue;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background-repeat:no-repeat;
    background-image: url(image-path('cloudlet.png'));
    background-position: center;
  }
  .text{
    padding-top: 7px;
    display: inline-block;
  }
  &:hover{
    color: #ffffff;
    background-color: $colorRed;
    span.icon{
      background-color: $colorDarkRed;
    }
  }
}
.user-counters{
  display: inline-block;
  width: auto;
  .top, .bottom{
    background-color: $colorBgDarkBlue;
    height: 31px;
    width: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }

  .top{
    margin-bottom: 2px;
  }
  .bottom{
  }

  .count{
    position: relative;
    color: white;
    font-size: 2.9em;
    margin-top: -1.2em;
    text-align: center;
    padding: 0 0.2em;
  }
  .blue{
    display: block;
    margin-top: 1em;
    text-align: center;
  }

  .likes, .followers, .follows{
    float: left;
    margin-left: 1em;
  }
}
input[type="submit"]:disabled{
  background-color: gray;
  &:hover{
    background-color: gray;
  }
}

.simple_form {
  .error{
    input{
      border: 1px solid $colorRed !important;
    }
  }
}
