@import 'setting.css.scss';

.simple_form {
  label{
    font-family: Arial;
    color: black;
    font-size: 16px;
    display: inline-block;
  }
  .field_with_error input{
    border: 3px solid $colorDarkRed;
  }
  .error{
    background: none;
    color: #FF7364;
    margin-top: 0;
  }
  .hint{
    font-size: 11px;
    color: #aaa;
  }
}

.picture-form-fields{
  position: relative;
  margin: auto;
  margin-top: 10px;
  max-width: 1660px;
  padding: 0 20px;
  display: inline-block;
  input[type=text], input#picture_tag_list_tag, textarea{
    resize: none;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    color: rgba(0, 0, 0, 0.75);
    font-size: 0.875em;
    padding: 8px;
    width: 565px;
    display: inline-block;
  }
  select{
    padding: 8px;
    border-radius: 0;
    width: 200px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    background-image: url(image-path("select-arrow.png"));
    background-repeat: no-repeat;
    background-position: 176px 12px;
  }
  select:focus,select:active{
    outline: none;
  }
  textarea{
    height: 100px;
  }
  input[type=radio]{
    margin-right: 5px;
  }
  small{
    margin-left: 5px;
  }
  .btn-green{
    width: auto;
    color: #ffffff;
  }
  label{
    display: block;
    margin: 10px 0;
    &.radio{
      display: inline-block;
      margin-right: 10px;
    }
  }
  .btn{
    margin-top: 10px;
    cursor: pointer;
    font-family: Arial;
    box-shadow: none;
    border: 0 none transparent;
    &:hover, &:active, &:focus, &[disabled]{
      box-shadow: none;
      background-color: #e74c3c !important;
      border: 0 none transparent;
    }
  }

  .image-category{
    overflow: hidden;
    margin-bottom:7px;
    label{
      height: 21px;
      display: block;
      position: relative;
      margin: 0;

      .name{
        padding-left: 30px;
        line-height: 1.35;
      }
    }
    input{
      display: none;

      &+span.box{
        position: absolute; /* Абсолютное позиционирование */
        left: 0; top: 0;
        margin:0;
        padding:0;
        height:auto;
        width: 100%; height: 100%;
        background: url(image-path('sprite-input.png')) no-repeat; /* Фоновый рисунок */
        cursor: pointer; /* Курсор в виде руки */
      }
      &:checked + span.box{
        background-position: 0 -21px;
      }
    }
  }
}

#picture_tag_list_tag, #picture_category_list_tag{
  width: 560px !important;
}
#picture_tag_list_tagsinput, #picture_category_list_tagsinput{
  height: auto;
  padding-left: 0;
  margin-bottom: 20px;
}

