@import 'setting.css.scss';
//----------------------------------------------стили для шапки--------------------------------------------------------
.profil-menu,.profil{
  font-family: Arial;
}
@-moz-document url-prefix()
{
  header {
    background-color: #26394D;
    height: 54px;
    padding-bottom: 0.3em;
    padding-top: 8px;
  }
  header h1 {
    padding-top: 7px;
  }
  header #menu {
    padding-top: 8px!important;
  }
  header #dowland #search {
    top: 14px;
  }
  header nav ul li a {
    display: inline-block;
    font-family: Arial;
    font-size: 0.9em;
    font-weight: bold;
    position: relative;
    top: -4px;
}
#dowland{
    position: relative;
    top:-1px;
}
 #search ~ a {
    border-bottom: 1px dashed #6EB2BA;
    color: #6EB2BA;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    position: relative;
    top: 10px!important;
    vertical-align: 12px;
}

}
header{
  padding-top: 10px;
  padding-bottom: 0.3em;
  background-color: #26394d;
  height: 54px;
//стили для поиска профиля
  #search ::-webkit-input-placeholder {
    color: #70b2b8;
  }
  #search ::-moz-placeholder {
    color: #70b2b8;
  }
  #search :-moz-placeholder {
    color: #70b2b8;
  }
  #search :-ms-input-placeholder {
    color: #70b2b8;
  }

  #search  input:hover::-webkit-input-placeholder,#search input.active::-webkit-input-placeholder {
    color: #e74c3c;
  }
  #search input:hover:-ms-input-placeholder,#search input.active:-ms-input-placeholder {
    color: #e74c3c;
  }
  #search  input:hover::-moz-placeholder,#search input.active::-moz-placeholder {
    color: #e74c3c;
  }
  #search  input:hover:-moz-placeholder,#search input.active:-moz-placeholder {
    color: #e74c3c;
  }

//общие стили для хэдера
h1{
  font-family: $font!important;
  color: white;
  padding-top: 4px;
  font-size: 22px!important;
}
#menu{
  padding-top: 5px;
}

nav{
  height: 2em;
   ul{
     li{
      padding-bottom: 0!important;
      padding-top: 0!important;
       width: auto!important;
        margin-top: 0px;
       a{
         font-size: 0.9em;
         font-weight: bold;
         font-family: Arial;
         &:hover{
           color: $colorRed;
         }
         &.active {
          color: $colorRed;
         }
       }
     }
   }
}

#dowland{
  #search{
    display: inline-block;
    position: relative;
    vertical-align: 4px;
    width: 180px;
    input{
      margin-right: 1em;
      top: -30px;
      width: 95px;
      position: absolute;
      right: 0;
      height: 30px;
      @include border-radius(6px);
      border: 0;
      background-color: #26394d;
      padding-left: 30px;
      font: bold 0.85em Arial;
      cursor: pointer;
      background-position: 1px;
      padding-left: 30px;
      background-position: 10px;
      background-image: url(image-path("search.png"));
      background-repeat: no-repeat;
      @include transition(width 0.2s ease-out);
      &.active{
        background-image: url(image-path("red.png"));
        background-color: #1f2f40;
        @include border-radius(6px);;
        color: #e74c3c;
        width: 85%;
      }
      &:hover{
        background-image: url(image-path("red.png"));
        background-color: #1f2f40;
        @include border-radius(6px);
        color: #e74c3c;
      }
    }
    img{
      position: absolute;
      top: 8px;
      left: 8px;
    }
  }

.ava{
  img{
    border: 1px solid  white;
    position: absolute;
    width: 40px;
    height: 40px;
    @include border-radius(22px);

    top: -2px;
    cursor: pointer;
     @include transition(border-radius 0.2s ease-out);
    &:hover{
      @include border-radius(6px);
    }
  }
}

}
//-----------------------------------------выпадающий список профиля---------------------------------------
#profile-menu{
  background-color: #26394d;
  width: 145px;
  position: absolute;
  display: inline-block;
  z-index: 2;
  right: 9%;
  top: 70px;
  @include border-radius(6px);
  ul{
    @include border-radius(6px);
    color: white;
    li{
      @include border-radius(6px);
      color: white;
      padding:10px 10px;
      font-family: Arial;
      font-size: 14px;
      cursor: pointer;
      font-weight: normal;
      &:hover{
        background-color: #e74c3c;
      }
    }
    li.active{
      color: #e74c3c;
      &:hover{
        color: white;
      }
    }
  }

  a{
    color: inherit;
  }
  img{
    position: absolute;
    top: -9px;
    right: 44px;
    width: 25px;
    height: 10px;
  }
}

}

.flash-success{
  position: fixed;
  top: 0;
  width: 100%;
  height: 54px;
  background: url('bg-green.png') repeat-x;
  text-align: center;
  z-index: 11;
  span.message{
    background-image: url("flash.png");
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    font-family: Arial;
    padding-top: 17px;
    display: inline-block;
    background-repeat: no-repeat;
    padding-left: 29px;
    background-position: left bottom;
    padding-bottom: 2px;
    &:hover{
      color: white;
    }
  }
  .close{
      cursor: pointer;
      color: white;
      font-family: Arial;
      position: absolute;
      top: 5px;
      right: 10px;
      display: inline-block;
    }
}
.flash-error{
  position: fixed;
  top: 0;
  width: 100%;
  height: 54px;
  background: url('bg-red.png') repeat-x;
  text-align: center;
  z-index: 12;
  span.message{
    padding-bottom: 2px;
    background-image: url("flash-error.png");
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    font-family: Arial;

    padding-top: 17px;
    display: inline-block;
    background-repeat: no-repeat;
    padding-left: 29px;
    background-position: left bottom;
    &:hover{
      color: white;

    }

  }
  .close{
      cursor: pointer;
      color: white;
      font-family: Arial;
      position: absolute;
      top: 5px;
      right: 10px;
      display: inline-block;
    }
}
.profil-menu ul li.active{
  background-image: url("arrowblue.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  bottom: -11px;  
  position: relative;

}
.profil-menu ul li.active a{
  position: relative;
  top: -11px;
}
.close-modal{
  display: block;
  background: #969696;

}

