::-webkit-input-placeholder {
  /* WebKit browsers */	font: bold 14px Arial;
  color: #70b2b8;}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */	font: bold 14px Arial;
  color: #70b2b8; }
::-moz-placeholder { /* Mozilla Firefox 19+ */ 	font: bold 14px Arial;
  color: #70b2b8; }
:-ms-input-placeholder { /* Internet Explorer 10+ */ 	font: bold 14px Arial;
  color: #70b2b8;}

input:hover::-webkit-input-placeholder {
    color: #e74c3c;
}
input:hover::-webkit-input-placeholder {
    color: #e74c3c;
}
input:-moz-placeholder {
    color: #e74c3c;
}
input:hover:-moz-placeholder {
    color: #e74c3c;
}



input.inp-click::-webkit-input-placeholder {
    color: #e74c3c;
}
input.inp-click::-webkit-input-placeholder {
    color: #e74c3c;
}
input.inp-click:-moz-placeholder {
    color: #e74c3c;
}
input.inp-click:hover:-moz-placeholder {
    color: #e74c3c;
}




.header{
  height: 60px;
  background-color: #26394d;
}
.logo h1{
  display: inline-block;
  margin-right: 70px;
  font-family: Gothic;
  color: white;
  font-size: 25px;
  padding-top: 17px;
}
.logo{
  margin: 0 auto;
  width: 980px;
  padding-left: 10px;
  height: 60px;
  font: bold 14px Arial;
  color: #70b2b8;
}
@font-face{
  font-family: Gothic;/*задаем назв. шрифта*/
  src: font-url('gothic-bold.otf');/*подключаем сторон. шрифт*/

}
.menu{
  display: inline-block;
  vertical-align: 3px;
  margin-right: 27px;
}
.menu li{
  display: inline-block;
  margin-left: 8px;
  padding: 10px;
  color: #70b2b8;
}
.menu a{
  text-decoration: none;
  color: inherit;

}
.btn-group{
  display: inline-block;
  vertical-align: 3px;

}

.btn-download{
  -webkit-border-top-left-radius:6px;
  -webkit-border-bottom-left-radius:6px;
  -moz-border-radius-topleft:6px;
  -moz-border-radius-bottomleft:6px;
  border-top-left-radius:6px;
  border-bottom-left-radius:6px;
  background-color: #5f979d;
  border: 1px solid #5f979d;
  height: 30px;
  width: 40px;
  cursor: pointer;
}
.btn-text{
  -webkit-border-top-right-radius:6px;
  -webkit-border-bottom-right-radius:6px;
  -moz-border-radius-topright:6px;
  -moz-border-radius-bottomright:6px;
  border-top-right-radius:6px;
  border-bottom-right-radius:6px;
  width: 90px;
  height: 30px;
  background-color: #70b2b8;
  border: 1px solid #5f979d;
  color: white;
  cursor: pointer;
  margin-left: -4px;
  font: bold 14px Arial;
}
.search{
  display: inline-block;
  position: relative;
  margin-left: 35px;
  vertical-align: 4px;
}
.search input{
  width: 65px;
  height: 30px;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
  border: 0;
  background-color: #26394d;
  color: #70b2b8;
  padding-left: 30px;
  font: bold 14px Arial;
  cursor:pointer; 
  background-position: 1px;
  padding-left: 30px;
  background-position-x: 10px;
  background-image: url("search.png");
  background-repeat: no-repeat;
}
.search img{
  position: absolute;
  top: 8px;
  left: 8px;
}
.ava{
  position: relative;
}
.ava img{
  position: absolute;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  border-radius: 22px;
  border: 1px solid white;
  top: -16px;
  left:10px;
  cursor: pointer;
}
.ava img:hover{
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.menu li:hover{
  background-color: #1f2f40;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
  padding: 10px;
  color: #e74c3c;
}
.btn-download.hovered{
  background-color:#c0392b;
  border: 1px solid #c0392b;
}

.btn-text.hovered{
  background-color:#e74c3c;
  border: 1px solid #e74c3c;
}
.search input:hover{
  background-image:url("red.png");
  background-color: #1f2f40;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;  
}
.search input.inp-click{
  background-image:url("red.png");
  background-color: #1f2f40;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
  color: #e74c3c;
}