@import 'setting.css.scss';
//----------------------------------------------стили для шапки--------------------------------------------------------

header{

  background-color: white;
  overflow:hidden;
  .alignment-header{

    position: relative;
    margin: auto;
    min-width: 1200px;
    padding-left:12px;
    .container-left{
      width: 60%;
      float: left;
      text-align: left;
    }
    .container-right{
      width: 40%;
      float: right;
      text-align: right;
      position:relative;
    }
  }

#logo {
  float:left;
  margin-top:10px;
  a{
    background-image: url("/assets/logo.png");
    background-repeat: no-repeat;
    width: 90px;
    height: 40px;
    display: block;
  }
}

#menu{
  float:left;
  margin-left:30px;
  height: 65px;
  ul{
    margin-top:0;
    li:first-child{
      border-top: 5px solid #edb168;
      a.active{
        background: #edb169;
      }
      a:hover{
        background: #edb169;
      }
      &+li{
        border-top: 5px solid #48a593;
        a.active{
          background: #48a593;
        }
        a:hover{
          background:#48a593;
        }
        &+li{
          border-top: 5px solid #243a4d;
          a:hover{
            background:#243a4d;
          }
        }
      }
    }
    li{
      display: block;
      float:left;
      margin-right:1px;
      a{
        font-family:$helveticaNormal;
        font-size: 21px;
        text-decoration: none;
        color: #5b5b5b;
        padding: 20px 15px;
        display: block;
        &.active{
          color: white;
        }
        &:hover{
          color: white;
        }
      }
    }
  }
}
.bell{
  background-color:#f36a5a;
  width:65px;
  height:65px;
  float:right;
  cursor:pointer;
  background-image: url("/assets/bell.png");
  background-position:center;
  position:relative;
  background-repeat:no-repeat;
  span{
    color: #f36a5a;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: white;
    padding: 2px 4px 1px;
    top: 16px;
    position: absolute;
    right: 15px;
    border: 2px solid #f36a5a;
    font-size: 12px;
  }
}
.ava{
  img{
    width:65px;
    height:65px;
    float:right;
    cursor:pointer;
  }
}
.setting{
  float:right;
  a{
    background-image: url("/assets/dowland.png");
    background-position:center;
    position:relative;
    background-repeat:no-repeat;
    display: block;
    width: 30px;
    height: 26px;
    position: relative;
    top: 20px;
    right: 25px;
    cursor:pointer;
    &:hover{
      background-image: url("/assets/dowland-hover.png");
    }
  }
}

  .login-user{
    float: right;
  }
a.sign-in{
    color: $blue;
    font-family: $arial;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    border-bottom: 1px dashed $blue;
    overflow: hidden;
    position: relative;
    float: right;
    display: block;
    padding-top: 5px;
    &:hover{
      color: $colorRed;
      border-bottom: 1px dashed $colorRed;
    }
  }
#dowland{


.ava{
  img{
    border: 1px solid  white;
    position: relative;
    float: right;
    width: 40px;
    height: 40px;
    @include border-radius(22px);
    cursor: pointer;
     @include transition(border-radius 0.2s ease-out);
    &:hover{
      @include border-radius(6px);
    }
  }
}

}
//-----------------------------------------выпадающий список профиля---------------------------------------
#profile-menu{
  background-color: #26394d;
  width: 145px;
  position: absolute;
  display: inline-block;
  z-index: 2;
  right: 9%;
  top: 70px;
  @include border-radius(6px);
  ul{
    @include border-radius(6px);
    color: white;
    li{
      @include border-radius(6px);
      color: white;
      font-family: Arial;
      font-size: 14px;
      cursor: pointer;
      font-weight: normal;
      &:hover{
        background-color: #e74c3c;
      }
    }
    li.active{
      color: #e74c3c;
      &:hover{
        color: white;
      }
    }
  }

  a{
    color: inherit;
  }
  img{
    position: absolute;
    top: -9px;
    right: 44px;
    width: 25px;
    height: 10px;
  }
}

}

.flash-success{
  position: fixed;
  top: 0;
  width: 100%;
  height: 48px;
  background: url(image-path('bg-green.png')) repeat-x;
  text-align: center;
  z-index: 11;
  span.message{
    background-image: url(image-path("flash.png"));
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    font-family: Arial;
    padding-top: 17px;
    display: inline-block;
    background-repeat: no-repeat;
    padding-left: 29px;
    background-position: left bottom;
    padding-bottom: 2px;
    &:hover{
      color: white;
    }
  }
  .close{
      cursor: pointer;
      color: white;
      font-family: Arial;
      position: absolute;
      top: 5px;
      right: 10px;
      display: inline-block;
    }
}
.flash-error{
  position: fixed;
  top: 0;
  width: 100%;
  height: 51px;
  background: url(image-path('bg-red.png')) repeat-x;
  text-align: center;
  z-index: 12;
  span.message{
    padding-bottom: 2px;
    background-image: url(image-path("flash-error.png"));
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    font-family: Arial;

    padding-top: 17px;
    display: inline-block;
    background-repeat: no-repeat;
    padding-left: 29px;
    background-position: left bottom;
    &:hover{
      color: white;

    }

  }
  .close{
      cursor: pointer;
      color: white;
      font-family: Arial;
      position: absolute;
      top: 5px;
      right: 10px;
      display: inline-block;
    }
}
.profil-menu ul li.active{
  background-image: url(image-path("arrow_active.png"));
  background-position: bottom center;
  background-repeat: no-repeat;
  bottom: -23px;
  position: relative;
  z-index: 1;
}
.profil-menu ul li.active a{
  position: relative;
  top: -23px;
}
.close-modal{
  display: block;
  background: #969696;
}
.banner{
  background: #01111b;

}
.banner-container{
  max-width:1200px;
  margin:0 auto;
  background: url(image-path("pic.png")) top left;
  max-height:275px;
  background-repeat:no-repeat;
  padding-left: 400px;
  padding-top: 94px;
  padding-bottom: 110px;

  h1{
    font-size:50px;
    font-family:$helveticaNormal;
    color:#fafafa;
  }
  p{
    font-family:$helveticaNormal;
    color:#fafafa;
    font-size:22px;
    padding-top:15px;
  }
}
.popap-header {
  position: absolute;
  right: 0;
  background: white;
  width: 130px;
  z-index: 111111;
  ul{
    padding: 7px 0px;
    li {
      a{
        padding:7px 0;
        color: #5b5b5b;
        font-size: 14px;
        padding-left:30px;
        cursor:pointer;
        display: block;
      }
      &:first-child{
        a{
          background: url(image-path("user.png")) 10px center;
          background-repeat:no-repeat;
        }
        &+ li{
          a{
            background: url(image-path("setting-menu.png")) 10px center;
            background-repeat:no-repeat;
          }
          &+ li{
            a{
              border-top:1px solid #e2e2e2;
              background: url(image-path("exit.png")) 10px center;
              background-repeat:no-repeat;
            }
          }
        }
      }
    }
  }

}
