$color: #3CB9C4;

#nprogress{
 .bar {
    background: $color;
    height: 4px;
  }

  .spinner{
    left: 50%;
    margin-left: -9px;
  }
 .spinner-icon {
    border-top-color: $color;
    border-left-color: $color;
  }
}
