@import "setting.css.scss";
#pictures{
  margin: 5px auto;
  width: 1625px;
  overflow: hidden;
  .image-block{
    word-break: break-all;
    float: left;
    padding: 10px;
    width: 315px;
    font-family: Arial;
    color: #6eb2ba;
    font-size: 14px;
    position: relative;
    .info{
      padding: 0 10px;
      line-height: 20px;
      position: absolute;
      display: none;
      color: black;
      h5{
        font-size: 16px;
        margin-left: 10px;
        margin-top: 20px;
        font-weight: bold;
        margin-bottom: 10px;
      }
      p{
        vertical-align: 2;
        margin: 0 10px;
        width: 255px;
        font-size: 14px;
      }
    }
    img.picture{
      width: 315px;
      height: 210px;
      opacity: 1;
      -webkit-transition: opacity 0.2s ease-out;
      -moz-transition: opacity 0.2s ease-out;
      -o-transition: opacity 0.2s ease-out;
      transition: opacity 0.2s ease-out;
    }
    h1{
      padding-bottom: 5px;
    }
    .name{
      float: left;
      margin-top: 10px;
      display: table-cell;
      width: 260px;
      &:hover{
        color: #e74c3c;
      }
      a{
        color: inherit;
        text-decoration: none;
      }
    }
    .picture-actions{
      float: right;
      margin-top: 10px;
      padding: 0;
      span{
        vertical-align: 2px;
      }
      /*      margin-top: 10px;*/
      img{
        width: 13px;
        cursor: pointer;
      }
      div.heart_normal{
        background-image: url(image-path('heart_normal.png'));
        display: inline-block;
        background-repeat: no-repeat;
        width: 15px;
        height: 12px;
        &.active{
          background-image: url(image-path('heart_active.png'));
        }
      }

      div.album_folder{
        background-image: url(image-path('album_folder.png'));
        background-size: 16px;
        display: inline-block;
        background-repeat: no-repeat;
        width: 18px;
        height: 15px;
      }

      span{
        font-weight: normal;
        color: #a6a6a6;
      }
    }
  }
}
.user-content{
  margin: auto;
  max-width: 1660px;
  padding: 20px;
  h3{
    margin-bottom: 4px;
  }
  .picture-user-info{
    display: table-cell;
  }
  a{
    color:$blue;
    text-decoration: none;
    font-weight: bold;
    &:hover{
      color: $colorRed;
    }
  }
}
.comments{
  margin: auto;
  max-width: 1660px;
  padding: 20px;
  overflow: hidden;
  .comments-container-left{
    float: left;
    width: 58%;
    .current-user-comment{
      margin-top: 20px;
      .user-avatar{
        display: table-cell;
        width: 45px;
        float: left;
        padding-right: 15px;
        img{
          width: 100%;
        }
      }
      .description-user{
        padding-top: 4px;
        a{
          text-decoration: none;
          color: $blue;
          cursor: pointer;
          font-weight: bold;
          font-size: 14px;
          &:hover{
            color: $colorRed;
          }


        }
        span{
          font-size: 11px;
        }
        > div{
          color: #26394d;
          font-size: 14px;
          margin-top: 2px;
          display: table-cell;
        }
      }
    }
  }
  .other-job-right{
    margin-left: 60%;
    h3, .blue{
      margin-bottom: 16px;
      display: inline-block;
      font-size: 16px;
    }
    a{
      color: $blue;
      font-weight: bold;
      text-decoration: none;
      &:hover{
        color: $colorRed;
      }
    }
    ul{
      li{
        width: 31%;
        float: left;
        height: auto;
        margin-right: 2%;
        margin-bottom: 2%;
        img{
          width: 100%;
          height: 100%;
        }
        &:last-child{
          margin-right: 0;
        }
      }
    }
  }
}
#button_load_more {
  background-color: #b5d6d9;
  display: inline-block;
  text-decoration: none;
  clear: both;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  font-family: Arial;
  height: 27px;
  padding-top: 13px;
  margin: 20px 0;
  padding-bottom: 2em;
  width: 92%;
  margin-left: 0.6em;
}

#button_load_more:hover{
  background-color: #70b2b8;
}

.js-activate-button, .js-deactivate-button{
  display: none;
}
.form-user-comment{
  clear: both;
  margin-top: 15px;
  img{
    width: 45px;
    float: left;
    margin-right: 15px;
    padding-top: 10px;
  }
  textarea{
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    resize: none;
    height: 16px;
    font-size: 16px;
    resize:none;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    color: rgba(0,0,0,0.75);
    display: block;
    width: 96%;
    padding: 10px;
    font-size: 14px;
    font-family: Arial;
    color: #bfbfbf;

  }
  .create-btn{
    background: transparent;
    border: 0 none transparent;
    font-size: 12px;
    font-family: Arial;
    text-decoration: underline;
    margin-top: 6px;
    cursor: pointer;
    &:hover{
      color: $colorRed;
    }
  }
  .input-comment{
    border-top: 1px solid #ccc;
    padding-top: 15px;
    padding-bottom: 11px;
    border-bottom: 1px solid #ccc;
    form{
      display: block;
      margin-left: 60px;
    }
  }

}
.answer-comment{
  padding-top: 15px;
  padding-bottom: 11px;
  border-bottom: 1px solid #ccc;
  position: relative;
  &:last-child{
    border: 0 none transparent;
  }
  img{
    width: 45px;
    float: left;
    margin-right: 15px;
  }
  .reply-to-comment{
    a{
      font-size: 12px;
      font-family: Arial;
      text-decoration: underline;
      margin-top: 6px;
      color: $blue;
      cursor: pointer;
      &:hover{
        color: $colorRed;
      }
    }
  }
  .input-comment{

    margin-left: 65px;
  }
  .txt-comment{
    word-break: break-all;
    margin-top: 2px;
    color: #26394d;
    font-size: 14px;
    font-family: Arial;
  }
  p{
    a{
      text-decoration: none;
      color: $blue;
      &:hover{
        color: $colorRed;
      }
    }
    font-size: 12px;
    font-family: Arial;
    font-weight: bold;
    .grey{
      font-weight: normal;
    }
  }
}
.follow-button{
  margin-top: 8px;
  a{
    background-image: url(image-path('add-plus.png'));
    background-size: 15px;
  }
}
.pager{
  float: left;
  margin-top: 250px;
}

.new_picture{
  #crop{
    margin-bottom: 25px;
  }
}

.picture_path{
  display: none;
}

.edit-picture{
  float: right;
  a{
    font-size: 14px;
    line-height: 30px;
  }
}

.scroller-preloader{
  position: relative;
  left: 50%;
  margin-left: -100px;
  clear: both;
  span{
    font-size: 30px;
    color: #b5d6d9;
    margin-left: 15px;
    vertical-align: 23px;
  }
}

$PICTURE_WIDTH: 335px;
$MAX_COLUMNS: 7;

$current_column: $MAX_COLUMNS;

@while $current_column > 0{
  @media screen and (max-width: $PICTURE_WIDTH * $current_column) {
    #pictures{
      width: $PICTURE_WIDTH * ($current_column - 1);
    }
  }
  $current_column: $current_column - 1
}

