#pictures{
  margin: 0 auto;
  width: 1625px;
  .image-block{
    float: left;
    padding: 5px;
    width: 315px;
    font-family: Arial;
    color: #6eb2ba;
    font-size: 14px;
    position: relative;
      .info{
        position: absolute;
        display: none;
        color: black;
        h1{
          font-size: 16px;
          margin-left: 10px;
          margin-top: 20px;
          font-weight: bold;
          margin-bottom: 10px;

        }
        p{
          vertical-align: 2;
          margin: 0 10px;
          width: 295px;
          font-size: 14px;
        }
      }
      img.picture{
        width: 315px;
        height: 210px;
        opacity: 1;
        -webkit-transition: opacity 0.9s ease-out;
        -moz-transition: opacity 0.2s ease-out;
        -o-transition: opacity 0.2s ease-out;
        transition: opacity 0.3s ease-out;
      }
      h1{
        padding-bottom: 5px;
      }
    .name{
      float: left;
      margin-top: 5px;
     &:hover{
       color: #e74c3c;
     }
      a{
        color: inherit;
        text-decoration: none;
      }



    }
    .picture-actions{
      float: right;
      margin-top: 5px;
      img{
        width: 13px;
        cursor: pointer;
      }
      div.heart_inactive{
        background-image: url(image-path('heart_inactive.png'));
        display: inline-block;
        background-repeat: no-repeat;
        width: 15px;
        height: 12px;
        cursor: pointer;
        &:hover{
          background-image: url(image-path('heart_hover.png'));
        }
      }

      span{
        font-weight: normal;
        color: #bfbfbf;
      }
      span.shafe{
         margin-right: 5px;
      }
    }
  }
}
#button_load_more{
  background-color: #b5d6d9;
  display: block;
  text-decoration: none;
  clear: both;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  font-family: Arial;
  height: 25px;
  padding-top: 13px;
}
#button_load_more:hover{
  background-color: #70b2b8;
}

$PICTURE_WIDTH: 325px;
$MAX_COLUMNS: 10;

$current_column: $MAX_COLUMNS;

@while $current_column > 0{
  @media screen and (max-width: $PICTURE_WIDTH * $current_column) {
    #pictures{
      margin: 0 auto;
      width: $PICTURE_WIDTH * ($current_column - 1);
    }
  }
  $current_column: $current_column - 1
}

