$blue:#6eb2ba;
$bgBlueMenu: #9cd0d5;
$darkBlue:#26394d;
$arial:Arial;
$grey: #a9b1b8;
$bgGreen:#27ae60;
$bgBlue: #48a593;
$colorBlue: #48a593;
$colorRed: #e74c3c;
$colorDarkRed: #bf4032;
$bgLightGrey: #fafafa;
$helveticaNormal: HelveticaThin;
/*functions*/
@mixin border-radius($radius){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
@mixin transition($arg){
  -webkit-transition: $arg;
  -moz-transition: $arg;
  -o-transition: $arg;
  transition: $arg;
}
@mixin right-radius-border($arg){
  -webkit-border-top-right-radius: $arg;
  -webkit-border-bottom-right-radius: $arg;
  -moz-border-radius-topright: $arg;
  -moz-border-radius-bottomright: $arg;
  border-top-right-radius: $arg;
  border-bottom-right-radius: $arg;
}
@mixin left-radius-border($arg){
  -webkit-border-top-left-radius: $arg;
  -webkit-border-bottom-left-radius: $arg;
  -moz-border-radius-topleft: $arg;
  -moz-border-radius-bottomleft: $arg;
  border-top-left-radius: $arg;
  border-bottom-left-radius: $arg;
}

@font-face{
  font-family: Gothic;/*задаем назв. шрифта*/
  src: font-url('gothic-bold.otf');/*подключаем сторон. шрифт*/
}
@font-face{
  font-family: HelveticaThin;/*задаем назв. шрифта*/
  src: font-url('HelveticaNeueCyr-Thin.otf');/*подключаем сторон. шрифт*/
}
@font-face{
  font-family: OpenSans;/*задаем назв. шрифта*/
  src: font-url('OpenSans-Regular.ttf');/*подключаем сторон. шрифт*/
}
body{
  font-family: Arial;
  min-width: 980px;
}
html, body{
  min-height: 100%;
}
$font:Gothic;
a{
  @include transition(all 0.2s ease-in-out);
  &:hover{
    color: $colorRed;
  }
}
.border-radius-circle{
  @include border-radius(35px);
}
.blue{
  color:$blue;
}
.text-align{
  text-align: center;
}
.bg-grey{
  background-color: rgb(233, 233, 233);
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  -ms-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  img{
    max-height: 800px;
  }
}
.bg-blue{
  background-color: #70b2b8;
}
.bg-light-grey{
  background-color: $bgLightGrey;
}

body{
  padding-bottom: 30px;
}
