html, body, #main-content {
  height: 100%;
  min-height:100%;
}

.gallery-single{
  font-family: OpenSans;
   height: 100%;
   overflow:hidden;
   color: #f2f2f2;
  h2{
    color: #f2f2f2;
    font-family: OpenSans;
    margin-bottom:18px;
    font-size: 18px;
  }
  .image-container{
    margin-right: 335px;
    overflow-y:auto;
    img{
      max-width:100%;
      height:auto;
    }
  }
  .content {
    display: block;
    margin-bottom: 10px;
  }
  .date{
    font-size:11px;
    color:#949494;
    margin-bottom:20px;
  }
  .actions-user{
    .view{
      display:inline-block;
      background-image: url(image-path('view.png'));
      background-repeat: no-repeat;
      display: inline-block;
      padding-left: 30px;
      color: #cacaca;
      margin-right:25px;
      background-position: left 2px;
      padding-left: 30px;

    }
    .like{
      display:inline-block;
      background-image: url(image-path('star.png'));
      background-repeat: no-repeat;
      display: inline-block;
      background-position: left -2px;
      padding-top: 1px;
      padding-left: 30px;
      color: #e47d29;
      margin-right:25px;
    }
    .comment{
      display:inline-block;
      background-image: url(image-path('Comment.png'));
      background-repeat: no-repeat;
      display: inline-block;
      background-position: left 1px;
      padding-left: 30px;
      color: #26b362;
      margin-right:25px;
      padding-bottom:1px;
    }

  }
  a{
    color: #48a593;
    &:hover{
      text-decoration: underline;
      color: #48a593;
    }
  }
  .line-container {
    padding:15px 0;
    border-bottom: 1px dashed #575e61;
    overflow:hidden
  }
  .information{
    padding:15px;
    float: right;
    width: 300px;
     height: 100%;
    background: #1f282d;
    overflow-y:auto;
    .close{
      background-image: url(image-path('close.png'));
      height:21px;
      background-repeat: no-repeat;
      background-position:center;
      display: block;
      float:right;
      width:28px;
      background-color:#161f24;
      cursor: pointer;
    }
    .close-container{
      text-align: right;
      overflow: hidden;
    }
    .ava{
      float: left;
      padding-right: 10px;
      img{
        width:55px;
        height:55px;
      }
    }
    .information-current-user{
      width:100%;
    }
    .table-information-current-user{
      display: table-cell;
      .name {
        color: #f2f2f2;
        font-size: 14px;
        margin-bottom: 5px;
        display: block;
        cursor:pointer;
        &:hover{
          text-decoration:none;
        }
      }
      .position{
        color:#adadad;
        font-size:12px;
        margin-bottom:10px;

      }
    }
  }
  .image-container{
    height:100%;

  }

  $emotionXOffset: 86px;
  $emotionYOffset: 81px;
  $shadowSize: 10px;
  .emotions{
    position: relative;
  }
  .emotion-button{
    width: 66px;
    height: 68px;
    position: absolute;
    &:hover{
      width: 66px + $shadowSize * 2;
      height: 68px + $shadowSize * 2;
    }
  }
  .cute{
    background: url(image-path('emotions/sprite.png')) -1 * $emotionXOffset * 0 - 10 0;
    top: 28px;
    left: 22px;
    &:hover{
      top: 28px - $shadowSize;
      left: 22px - $shadowSize;
      background-position-x: -1 * $emotionXOffset * 0 - 10 + $shadowSize;
      background-position-y: -1 * $emotionYOffset + $shadowSize;
    }
  }
  .facepalm{
    background: url(image-path('emotions/sprite.png'));
    background-position-x: -1 * $emotionXOffset * 1 - 10;
    top: 28px;
    right: 22px;
    &:hover{
      top: 28px - $shadowSize;
      right: 22px - $shadowSize;
      background-position-x: -1 * $emotionXOffset * 1 - 10 + $shadowSize;
      background-position-y: -1 * $emotionYOffset + $shadowSize;
    }
  }
  .rapture{
    background: url(image-path('emotions/sprite.png'));
    background-position-x: -1 * $emotionXOffset * 2 - 10;
    top: 85px;
    left: 132px;
    &:hover{
      top: 85px - $shadowSize;
      left: 132px - $shadowSize;
      background-position-x: -1 * $emotionXOffset * 2 - 10 + $shadowSize;
      background-position-y: -1 * $emotionYOffset + $shadowSize;
    }
  }
  .wtf{
    background: url(image-path('emotions/sprite.png'));
    background-position-x: -1 * $emotionXOffset * 3 - 10;
    bottom: 28px;
    left: 22px;
    &:hover{
      bottom: 28px - $shadowSize;
      left: 22px - $shadowSize;
      background-position-y: -1 * $emotionYOffset + $shadowSize;
      background-position-x: -1 * $emotionXOffset * 3 - 10 + $shadowSize;
    }
  }
  .inspiration{
    background: url(image-path('emotions/sprite.png'));
    background-position-x: -1 * $emotionXOffset * 4 - 10;
    bottom: 28px;
    right: 22px;
    &:hover{
      bottom: 28px - $shadowSize;
      right: 22px - $shadowSize;
      background-position-y: -1 * $emotionYOffset + $shadowSize;
      background-position-x: -1 * $emotionXOffset * 4 - 10 + $shadowSize;
    }
  }
}
.folow-user{
  display: inline-block;
  border: 1px solid #48a593;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #48a593;
  padding: 0px 24px;
  background-position: 8px center;
  background-image: url(image-path('add.png'));
  background-repeat: no-repeat;
  padding-right:0;
  font-weight: normal;
  cursor:pointer;
  span{
    padding: 5px 11px;
    display: inline-block;
    border-left: 1px solid;
    padding-left: 9px;
    padding-bottom: 6px;
    margin-left: 8px;
  }
  &:hover{
    color: #48a593;
    text-decoration:none;
  }

}
.folow-user.active{
  background-image: url(image-path('ok-btn.png'));
  &:hover{
    color: #48a593;
    text-decoration:none;
  }

}
