$blue:#6eb2ba;
$bgBlueMenu: #b1d2d5;
$darckBlue:#26394d;
$arial:Arial;
$grey: #a9b1b8;
$colorRed: #e74c3c;
$colorDarkRed: #bf4032;
.border-radius-circle{
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
}
.blue{
    color:$blue;
}
h1,h2,h3,h4,h5{
  color: $darckBlue;
  font-family:$arial ;
  font-weight: bold;
}
.grey{
  color: $grey;
}
.user-content{
  .user{
    margin-top: 1em;
    margin-bottom: 1em;
    img{
      position: absolute;
      width: 3.2em;
      margin-top: -0.2em;
    }
    p,h1{
      margin-left: 4.5em;
    }
    p{
      font-weight: bold;
      margin-left: 5em;
      font-size: 0.9em;
      .grey{
         font-size: 0.85em;
          font-weight: normal;
      }
    }
    .star{
      vertical-align: -2px;
    }
  }
  .picture-actions{
    margin-top: 1em;
    margin-bottom: 1em;
    .button-toggler{
      display: inline-block;
    }
  }
}
.bg-comments{
  background-color: #fafafa;
  .comments{
    padding-top: 2em;
    .title{
      h1,p{
        display: inline-block;
      }
      p{
        float: right;
        font-size: 0.9em;
      }
      p.blue{
        cursor: pointer;
        margin-right: 1em;
      }
    }
    textarea{
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      resize: none;
    }
    .new-comment-form{
      position: relative;
      img{
        top: 1.5em;
        position: absolute;
        width: 3em;
      }
      .input-comment{
        display: inline-block;
        width: 87%;
        margin-left: 1em;
        margin-top: 1.5em;
        margin-left: 4em;
        input[name="commit"]{
          border: 0;
          font-size: 0.9em;
          font-family: Arial;
          color: white;
          font-weight: bold;
          float: right;
        }
      }

    }

  }
  .user-comment{
    a{
      color:$blue ;
      text-decoration: underline;
      &:hover{
        text-decoration: none;
      }
    }
    img{
      position: absolute;
      width: 3em;
    }
    .row-comment{
      margin-left: 4em;
      h1{
        display: inline-block;
      }
      span{
        font-size: 0.85em;
        color: $grey;
        .txt-comment{
          margin-top: 0.5em;
          color: black;
          font-size: 1.1em;
        }
        .reply-to-comment{
          margin-top: 2em;
        }
      }
      .star{
        vertical-align: -2px;
      }
      a[rel="nofollow"]{
        float: right;
        margin-top: -1em;
        margin-bottom: 2em;
      }
      .like{
        position: absolute;
        right: 2em;
        top: 0;
        img{
          top: 0.3em;
        }
        p{
          display: inline-block;
          margin-left: 1.3em;
        }
        .button_to{
          display: inline-block;
          input[value="Мне нравится"]{
            background-color: transparent;
            border: 0;
            font-size: 0.9em;
            font-family: Arial;
            color: $blue;
            cursor: pointer;
            &:hover{
              color:$colorRed ;
            }

          }
        }

        img{
          width: 1em;
        }
      }
    }

  }
  .other-job-right{
    h1{
      display: inline-block;
    }
    .blue{
      font-weight: bold;
      display: inline-block;
    }
    ul{
      li{
        margin-right: 0em;
        padding: 0.5em;
        padding-top: 0;
        padding-bottom: 0.5em;
        img{
          width: 100%;
          height: 100%;
        }
      }
    }
    .information{
      a{
        color:$blue ;
        font-size: 0.8em;
        text-decoration: underline;
        &:hover{
          text-decoration: none;
        }
      }
      h1{
        margin-bottom: 0.7em;
      }
      p{
        img{
          margin-right: 1em;
          float: left;
        }
      }
      .txt-news-comment{
        line-height: 1em;
        margin-bottom: 0.5em;
      }
    }
  }
}

//profil page
.profil{
  margin-top: 2em;
  .large-2{
    width: 11.66667%;
    img{
      width: 5em;
      height: 5em;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
    }
    }
  .large-5{
    margin-left: -1em;
    h3{
      font-size: 14pt;
      display: inline-block;
      font-size: bold;
      font-family: $arial;
    }
    .grey{
      font-size: 0.75em;
      margin-left: 0.4em;
      vertical-align: 0.75em;
      margin-right: 0.4em;
    }
    .red{
      background-color: $colorRed;
      color: #ffffff;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      padding: 0.1em 0.5em;
      font-size: 0.75em;
      text-align: center;
      display: inline-block;
      vertical-align: 0.8em;
    }
    .social{
      margin-bottom: 0.5em;
      margin-top: 0.2em;
      img{
        cursor: pointer;
        vertical-align: -0.2em;
      }
      .blue{
        margin-right: 0.4em;
      }
    }
    .btn-blue{
      padding-left: 0.8em;
      padding-right: 0.8em;
      font-weight: bold;
      padding-bottom: 0.23em;
      span{
        font-size: 0.9em;
        margin-top: -1.15em;
      }
    }
  }
}
.profil-menu{
  background-color: $bgBlueMenu;
  margin-top: 1em;
  margin-bottom: 2em;
  ul{
    margin-left: 0.5em;
    position: relative;
    li{
      width: auto;
      padding-bottom: 0.7em;
      padding-top: 0.7em;
      font-size: 0.85em;
      img{
        position: absolute;
        bottom: -0.7em;
        left: 1.3em;
         position: absolute;
      }
      a{
        color: #ffffff;
      }
    }
  }
}
