@import 'setting.css.scss';

h1,h2,h3,h4,h5{
  color: $darkBlue;
  font-family:$arial;
  font-weight: bold;
}

.grey{
  color: $grey;
}
section{
  padding: 16px 0;
}

//----------------------------------------------------comment------------------------------------------
//стили верхней панели для пользователя
.user-content{
  margin: auto;
  max-width: 1660px;
  padding: 20px;
  h3{
    margin-bottom: 4px;
    font-size: 16px;
  }
  .picture-user-info{
    display: table-cell;

    .blue{
      margin-right: 4px;
      float: left;
      font-size: 12px;
    }
    .grey{
      margin-right: 4px;
      float: left;
      font-size: 12px;
    }
  }
  a{
    color:$blue;
    text-decoration: none;
    font-weight: bold;
    &:hover{
      color: $colorRed;
    }
  }
  img.user{
    display: inline-block;
    float: left;
    margin-right: 1em;
    max-width: 3.5em;
    margin-top: -11px;
  }
}
.picture-actions{
  margin: auto;
  max-width: 1660px;
  padding: 10px 20px;
  overflow: hidden;
}
//стили для звездочек между поль и временем
.star{
  padding: 0.1em;
  vertical-align: -2px;
}

//кнопки над картинкой
.picture-actions{
  a{
    float: left;
    text-decoration: none;
  }
}

.like-button{
  .unlike-img, .like-img{
    margin-left: 3px;
  }
}
//временный стиль
.bg-grey{
  img{
    margin-bottom: -2px;
  }
}
//--------------------------------------profil page----------------------------------------------------
.profil{
  margin: auto;
  max-width: 1660px;
  padding: 10px 20px 9px 20px;
  overflow: hidden;
  .large-5{
    margin-left: -1em;
    h3{
      font-size: 14pt;
      display: inline-block;
      font-size: bold;
      font-family: $arial;
    }
    .grey{
      font-size: 0.75em;
      margin-left: 0.4em;
      vertical-align: 0.75em;
      margin-right: 0.4em;
    }
    .red{
      background-color: $colorRed;
      color: #ffffff;
      @include border-radius(10px);
      padding: 0.1em 0.5em;
      font-size: 0.75em;
      text-align: center;
      display: inline-block;
      vertical-align: 0.8em;
    }

  }
  .social{
    margin-bottom: 16px;
    margin-top: 1px;
    img{
      cursor: pointer;
      vertical-align: -3px;
    }
    .blue{
      margin-right: 0.4em;
    }
    a{
      color: $blue;
      &:hover{
        color: $colorRed;
      }
    }
  }
  .profil-data{
    float: right;
    width: 40%;
    text-align: right;
  }
  .description-profil{
    float: left;
    width: 60%;
    h3{
      margin-top: 5px;
      font-size: 22px;
      color: #26394d;
      margin-bottom: 5px;
      display: inline-block;
    }
    sup{
      vertical-align: 10px;
      span{
        font-size: 12px;
        padding: 0 5px;
      }
      .red{
        background-color: $colorRed;
        color:#ffffff;
        padding:1px 8px;
        -webkit-border-radius: 9px;
        -moz-border-radius: 9px;
        border-radius: 9px;
      }
    }
  }
  .avatar-provil{
    width: 90px;
    display: table-cell;
    float: left;
    margin-right: 20px;
    height: 90px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    overflow: hidden;
    img{
      width: 100%;

      height: 100%;
    }
  }
  .button-blue{
    background-image: url(image-path('flash.png'));
    padding-left: 30px;
    padding-right: 10px;
    margin-top: 6px;
    background-position: 9px center;
    padding-top: 5px;
    padding-bottom: 7px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
   & ~ .counter-container{
      display: none;
    }
  }
  .button-red{
    background-color: $colorRed;
    background-image: url(image-path('flash.png'));
    padding-left: 30px;
    padding-right: 10px;
    text-decoration: none;
    margin-top: 6px;
    padding-top: 5px;
    padding-bottom: 7px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-position: 9px center;
    & ~ .counter-container{
      display: none;
    }
  }
}
.profil-menu{
  background-color: $bgBlueMenu;

  ul{
    position: relative;
    margin: auto;
    max-width: 1660px;
    padding: 10px 20px 9px 20px;
    li{
      width: auto;
      margin: 5px;
      display: inline-block;
      &:first-child{
        margin-right: 0;
      }
      img{
        position: absolute;
        bottom: -0.7em;
        left: 1.3em;
        position: absolute;
      }
      a{
        color: #ffffff;
        font-size: 14px;
        text-decoration: none;
        font-weight: bold;
        font-family: Arial;
      }
    }
  }
}

//edit usser
.edit_profil{
  margin-top: 1em;
}

.bg-dark-blue{
  background-color: #26394d;
  .grey{
    color:#a9b1b8;
    font-family: Arial;
    font-size: 12px;
  }
  a{
    text-decoration: underline;
  }
  .account{
    margin-top: 1.5em;
    h1{
      margin-bottom: 0.5em;
      color: white;
      font-family: Verdana;
      font-size: 30px;
      font-weight: normal;
    }
  }
}

.registration, .authorization{
  margin-bottom: 100px;
  .simple_form{
    .input{
      margin-bottom: 16px;
    }
  }
}

.login-user{
  position: absolute;
  z-index: 1;
  background-color: white;
  padding-bottom: 0;

  display: none;
  width: 235px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 15px;
  top: 65px;
  right: 0px;
  margin-top: 0;
  @include transition(all 0.2s ease-in-out);

  .join-us{
    text-align: left;
    a{
      float: none;
    }
  }
  img{
    position: absolute;
    top: -7px;
    right: 25px;
  }
  input{
    width: 220px;
    font-size: 14px;
    border: 0 none transparent;
    padding: 8px;
    border:1px solid #ccc;
    border-radius:3px;
  }
  input[type='password'],.btn-blue{
    margin-top: 15px;
  }
  .btn{
    width: 100px;
    margin-bottom: 15px;
  }
  .forgot-password{
    font-size: 12px;
    margin-top: 25px;
    float: right;
    color: #5b5b5b;
  }
  .join-us{
    border-top:1px solid #ccc;
    font-size: 12px;
    padding-top: 12px;
    clear: both;
    a{
      float: right;
      color: #5b5b5b;
    }
  }
}
.top{
  top: 65px;
}
.top-reval-model{
  top: 50%!important;
}
.user-menu{
  position: absolute;
  z-index: 1;
  top: 22px;
  right: 0px;
  width: 150px;
  display: none;
  img {
    position: relative;
    top: 19px;
    right: 14px;
  }
  ul {
    background-color: #26394d;
    top: 15px;
    position: relative;
    @include border-radius(6px);
    li{
      margin: 0;
      padding: 10px 15px;
      text-align: left;

      @include border-radius(6px);
      &:hover{
        background-color: $colorRed;
      }
      a{
        color: white;
        font-family: Arial;
        font-size: 14px;
        display: block;
        width: 100%;
        text-decoration: none;
        font-weight: normal;
      }
    }
  }
}

.ava img{
  right: 0;
  top: -7px;
  margin-bottom: -10px;
}
.ava:hover ~ .user-menu {
  display: block;
}
.user-menu:hover {
  display: block;
}
.user-menu-hover{
  @include border-radius(6px!important);
}




.simple_form.new_picture .title-download{
  position: relative;
  margin: auto;
  max-width: 1660px;
}
.reveal-modal {
  visibility: visible;
  display: block;
  position: absolute;
  left: 50%;
  z-index: 99;
  height: auto;
  margin-left: -40%;
  @include transition(all 0.3s ease-in-out);
  width: 80%;
  background-color: white;
  padding: 1.25em;
  border: solid 1px #666666;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  top: -999px;
  .close-reveal-modal{
    background: transparent;
    padding: 0;
    border: 0;
  }
}

.name-new-album.add_album {
  text-align: center;
  font-family: Arial;
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin-top: 3px;
  font-weight: bold;
}

//-----------------------------------------------profil-----------------------------------------------
.edit-profil{
  padding: 10px 20px;
  position: relative;
  margin: auto;
  font-size: 26px;
  max-width: 1660px
}
.profil-form {
  min-height: 100%;
  position: relative;
  background-color: $bgLightGrey;
  .profil-form-container{
    position: relative;
    margin: auto;
    max-width: 1660px;
    padding: 0 20px;
    padding-top: 20px;
    label{
      font-family: Arial;
      color: black;
      font-size: 16px;
      margin-left: 7px
    }
    input{
      width: 500px;
      border: 1px solid #cccccc;
      -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
      box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
      color: rgba(0,0,0,0.75);
      padding: 10px;
      margin-top:0;
    }
  }
  .edit_user{
    >div{
      overflow: hidden;
      margin-bottom: 20px;
    }
    form {
      margin-top: 3em;
    }
    label{
      margin-bottom: 0.7em;
      display: block;
      span{
        margin-left: 1em;
      }
    }
    input{
      margin-bottom: 0;
    }
    .hint{
      display: block;
      margin-bottom: 7px;
      span{
        color: #555;
      }
    }
    .btn.btn-blue{
      padding: 0.4em!important;
    }
    .btn.btn-green{
      padding: 0.4em;
      background-color: #27ae60;
      cursor: pointer;
      color: #ffffff;
      width: auto;
      font-size: 14px;
      font-weight: bold;
      &:hover{
        background-color: $colorRed;
      }
    }
    #user_vk {
      width: 399px;
    }
    .collapse{
      display: table;
      span{
        @include border-radius(6px);
        @include right-radius-border(0px);
        background: #f2f2f2;
        border-color: #d9d9d9;
        border-right: none;
        float: none;
        border: 1px solid #cccccc;
        margin-right: -1px;
        margin-top: 0;
        width: 100px;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
      }
      input[type="text"]{
        @include left-radius-border(0px);
        @include right-radius-border(6px!important);
      }
    }
    .btn-blue{
      text-decoration: none;
      font-size: 14px;
      font-family: Arial;
      margin-left: 10px;
      margin-top: 30px;
      width: auto;
      color: white;
      font-weight: bold;
      &:hover{
        background-color: $colorRed;
      }
    }
    .avatarka {
      margin-bottom: 1.5em;
      img{
        width: 84px;
        height: 84px;
        float: left;
      }
      input{
        margin-top: 1em;
      }
    }
  }

  .ok{
    padding-top: 0.7em;
    position: absolute;
    top: 28px;
    right: -25px;
    background-color: #27ae60;
    padding: 0.5em;
    padding-top: 0.7em;
    @include border-radius(6px);
    img{
      margin-right: 0;
      display: inline-block;
    }
  }
}


//--------------------------------------------------new picture-----------------------------------------
.download-file{
  label, abbr, .input{
    color: white;
  }
  label{
    display: block;
  }
  label:first-child{
    font-weight: bold;
  }
  text-align: center;
  border: 2px dashed grey;
  @include border-radius(6px);
  padding: 5em;
  color: white;
  input.file{
    width: auto;
  }
}
.title-download{
  padding: 15px 20px;
}
.btn-download{
  border: none;
  padding: 0.4em 1em;
  font-weight: bold;
  background-color: white;
  color: #70b2b8;
  cursor: pointer;
  @include border-radius(6px);
  margin-top: .3em;
  display: inline-block;
}
#crop{
  overflow: hidden;
  display: none;

  .blue{
    color: #70b2b8;
    font-weight: bold;
  }
  #crop-area{
    float: left;
  }
  #crop-pr{
    float: left;
    padding: 2em;
  }
  span.right{
    margin-right: 6px;
    float: right;
  }
}
.crop-picture-new{
  position: relative;
  margin: auto;
  max-width: 1660px;
  padding: 0 20px;
}

.bg-grey img{
  max-width: 100%;
  height: auto
}
.show-user-album{
  position: relative;
  padding: 10px 20px 20px 20px;
  .description-user-album{
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .description-user-album img{
    width: 126px;
    height: 84px;
    float: left;
    margin-right: 20px;
  }
  .columns-description-user-album{
    margin-left: 145px;
    margin-right: 115px;
    h3{
      font-size: 22px;
      margin-bottom: 5px;
    }
    a{
      color: $blue;
      font-size: 14px;
      &:hover{
        color: $colorRed;
      }
    }
    div{
      margin-top: 5px;
      color: #9e9e9e;
      font-size: 13px;
    }
  }
  .profil-data{
    width: 100px;
    position: absolute;
    right: 15px;
    top: 15px;
  }
}
.profil-menu ul li a.album-all{
  background: url(image_path('album-arrow.png')) no-repeat;
  background-position: center left;
  padding-left: 17px;
}
.search-container-new{
  margin: auto;
  max-width: 1660px;
  padding: 10px 20px 9px 20px;
  overflow: hidden;
}
.search-container{
  position: relative;
  padding: 15px 0;
  border-top:1px solid #ccc;
  >img{
    width: 85px;
    height: 85px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    float: left;
  }
  .search{
    margin-left: 100px;
    margin-right: 399px;
  }
  &:first-child{
    border: 0 none  transparent;
  }
  .avatar{
    font-size: 16px;
    color: #26394d;
    text-decoration: none;
    font-weight: bold;
  }
  sup{
    background-color: #e74c3c;
    color: #ffffff;
    padding: 1px 8px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    font-size: 11px;
    display: inline-block;
    vertical-align: 8px;
  }
  .blue{
    display: inline-block;
    margin-top: 6px;
    span{
      font-size: 14px;
      margin-right: 5px;
      vertical-align: 3px;
    }
  }
  .clear{
    clear: both;
  }
  .action-button{
    margin-top: 15px;
    .button-blue,.button-red{
      background-image: url(image_path("flash.png"));
      padding-left: 30px;
      padding-right: 10px;
      margin-top: 6px;
      background-position: 9px center;
      padding-top: 5px;
      padding-bottom: 7px;
      margin-right: 13px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
    }
    .button-red{
      text-decoration: none;
      background-color: $colorRed;
    }
    .counter-container{
      display: none;
    }
    .follow-button{
      float: left;
      width: 215px;
    }
  }
  .heart_normal{
    background-image: url(image_path("heart_normal.png"));
    display: inline-block;
    background-repeat: no-repeat;
    width: 15px;
    height: 12px;
    cursor: pointer;
  }
  .picture-search{
    position: absolute;
    right: 0px;
    top: 13px;
    img{
      width: 125px;
      margin-left: 10px;
    }
  }
  .like-search{
    display: inline-block;
    vertical-align: -2px;
  }
}
header #dowland #search input{
  color: $blue;
}
.navigation-edit-link{
  float: right;
}
.container-for-empty{
  margin: auto;
  padding: 40px 20px 9px 20px;
  max-width: 1660px;
  text-align: center;
  h2{
    color: #cacaca;
    font-size: 50px;
    margin-bottom: 10px;
  }
  span{
    font-family: Arial;
    font-size: 27px;
    margin-top: 10px;
    display: block;
    margin-bottom: 15px;
    color: #b0b0b0;
  }
  .image-block-empty{
    margin-top: 20px;
  }
}
