@import 'setting.css.scss';

h1,h2,h3,h4,h5{
  color: $darkBlue;
  font-family:$arial;
  font-weight: bold;
}

.grey{
  color: $grey;
}
section{
  padding: 16px 0;
}

//----------------------------------------------------comment------------------------------------------
//стили верхней понели для пользователя
.user-content{

  img.user{
    display: inline-block;
    float: left;
    margin-right: 1em;
    max-width: 3.5em;
    margin-top: -5px;
  }

  p{
    font-size: 0.8em;
  }

}
.picture-actions{
  margin: auto;
  max-width: 1660px;
  padding: 20px;
  overflow: hidden;
}
//стили для звездочек между поль и временем
.star{
  padding: 0.1em;
  vertical-align: -2px;
}

//текст комментария
.txt-comment{
  margin-bottom: 0.7em;
}

//кнопки над картинкой
.picture-actions{

  a{
    float: left;
    margin-right: 15px;
    text-decoration: none;

  }

}

//временный стиль
.bg-grey{
  img{
    margin-bottom: -3px;
  }
}

//комментарии польз
.comments{
  //кнопка загрузить остольное
  #button_load_more{
    width: 100%;
  }

  hr{
    margin-bottom: 0;
  }

  .title{
    padding-left: 0;

    h1{
      display: inline-block;
    }

    p{
      float: right;
      font-size: 0.9em;
      &.blue{
        cursor: pointer;
        margin-right: 1em;
      }
    }

  }

  //комментария блок
  .message-comment{
    margin-top: 1em;
    padding: 0
  }

  //инпут лдля ввода комментария
  .input-comment{
    float: left;
      a{
      font-weight: normal;
      text-decoration: underline;
      &:hover{
        text-decoration: none;
      }
    }

  }

  //для всех ариах стилей внутри комментариев
  textarea{
    @include border-radius(6px);
    resize: none;
    font-size: 1em;
    height: 2.5em;
    min-height: 2.5em;
    overflow: hidden;
    padding-top: 0.67em;
  }

  //гавно-кнопка. почему ссылкой нельзя?
  .create-btn{
    background-color: transparent;
    border: none;
    text-decoration: underline;
    border-radius: 0;
    cursor: pointer;
    font-family: Arial;
    color: #2795b6;
    @include transition(all 0.2s ease-in-out);
    &:hover{
      color: $colorRed;
      text-decoration: none;
    }
  }

  //гавно-кнопка. почему ссылкой нельзя?
  .button_to input[type="submit"]{
    cursor: pointer;
    margin-top: -5px;
    @include border-radius(6px);
    color: #ffffff;
    display: inline-block;
    padding: .5em;
    background-color: #70b2b8;
    @include transition(all 0.2s ease-in-out);
    border: 0;
    &:hover{
      background-color: #5f979d;
    }
  }
}


//сердце и количество
.likes_count{
  float: right;
  margin-left: 0.3em;
  margin-top: -5px;
  ~img{
    float: right;
  }
}

//гавно-кнопка. почему ссылкой нельзя?
.button_to{
  float: right;
  display: inline-block;
  margin-top: -6px;
}

//другие работы польз
.other-job-right{

  h1{
    margin-bottom: 1em;
  }

  h1,.blue{
    display: inline-block;
    font-size: 16px;
  }

  //информационная часть
  .information{

    img{
      float: left;
      margin-right: 1em;
    }

    p{
      line-height: 1.3em;
    }

  }
}



//--------------------------------------profil page----------------------------------------------------
.profil{
  margin: auto;
  max-width: 1660px;
  padding: 10px 20px 9px 20px;
  overflow: hidden;
  .large-5{
    margin-left: -1em;
    h3{
      font-size: 14pt;
      display: inline-block;
      font-size: bold;
      font-family: $arial;
    }
    .grey{
      font-size: 0.75em;
      margin-left: 0.4em;
      vertical-align: 0.75em;
      margin-right: 0.4em;
    }
    .red{
      background-color: $colorRed;
      color: #ffffff;
      @include border-radius(10px);
      padding: 0.1em 0.5em;
      font-size: 0.75em;
      text-align: center;
      display: inline-block;
      vertical-align: 0.8em;
    }

  }
  .social{
    margin-bottom: 0.5em;
    margin-top: 0.2em;
    img{
      cursor: pointer;
      vertical-align: -3px;
    }
    .blue{
      margin-right: 0.4em;
    }
    a{
      color: $blue;
      &:hover{
        color: $colorRed;
      }
    }
  }
  .profil-data{
    float: right;
    width: 40%;
    text-align: right;
  }
  .description-profil{
    float: left;
    width: 60%;
    h3{
      margin-top: 5px;
      font-size: 22px;
      color: #26394d;
      margin-bottom: 5px;
      display: inline-block;
    }
    sup{
      vertical-align: 10px;
      span{
        font-size: 12px;
        padding: 0 5px;
      }
      .red{
        background-color: $colorRed;
        color:#ffffff;
        padding:1px 8px;
        -webkit-border-radius: 9px;
        -moz-border-radius: 9px;
        border-radius: 9px;
      }
    }
  }
  .avatar-provil{
    width: 90px;
    display: table-cell;
    float: left;
    margin-right: 20px;
    height: 90px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    overflow: hidden;
    img{
      width: 100%;

      height: 100%;
    }
  }
  .button-blue{
    background-image: url(image-path('flash.png'));
    display: inline-block;
    padding-left: 42px;
    padding-right: 10px;
    margin-top: 6px;
    background-position: 9px center;
    span{
      display: none;
    }
  }
  .button-red{
    background-color: $colorRed;
    background-image: url(image-path('flash.png'));
    display: inline-block;
    padding-left: 42px;
    padding-right: 10px;
    text-decoration: none;
    margin-top: 6px;
    background-position: 9px center;
    span{
      display: none;
    }
  }
}
.profil-menu{
  background-color: $bgBlueMenu;

  ul{
    position: relative;
    margin: auto;
    max-width: 1660px;
    padding: 10px 20px 9px 20px;
    li{
      width: auto;
      margin: 5px;
      display: inline-block;
      &:first-child{
        margin-right: 0;
      }
      img{
        position: absolute;
        bottom: -0.7em;
        left: 1.3em;
        position: absolute;
      }
      a{
        color: #ffffff;
        font-size: 14px;
        text-decoration: none;
        font-weight: bold;
        font-family: Arial;
      }
    }
  }
}

//edit usser
.edit_profil{
  margin-top: 1em;
}

.bg-dark-blue{
  background-color: #26394d;
  .grey{
    color:#a9b1b8;
    font-family: Arial;
    font-size: 12px;
  }
  a{
    text-decoration: underline;
  }
  .account{
    margin-top: 1.5em;
    h1{
      margin-bottom: 0.5em;
      color: white;
      font-family: Verdana;
      font-size: 30px;
      font-weight: normal;
    }
  }
}

.simple_form {
  label{
    margin-right: 1em;
    font-family: Arial;
    color: black;
    font-size: 16px;
    margin-bottom: 0.4em;
    display: inline-block;
    margin-left: 0.3em;
  }
  input{
    @include border-radius(6px);
    margin-bottom: 0.2em;
  }
  .field_with_error input{
    border: 3px solid $colorDarkRed;
  }
  .error{
    background: none;
    color: #FF7364;
    margin-top: 0;
  }
  span{
    color: #a9b1b8;
    font-size: 12px;
    margin-top: 5px;
  }
}
.registration, .authorization{
  margin-bottom: 100px;
  .simple_form{
    .input{
      margin-bottom: 16px;
    }
  }
}


.login-user{
  position: absolute;
  z-index: 1;
  background-color: $darkBlue;
  padding-bottom: 0;
  display: none;
  width: 235px;
  padding: 15px;
  @include border-radius(6px);
  top: 72px;
  right: 10px;
  margin-top: 0;
  @include transition(all 0.2s ease-in-out);

  .join-us{
    text-align: left;
    a{
      float: none;
    }
  }
  img{
    position: absolute;
    top: -7px;
    right: 25px;
  }
  input{
    width: 220px;
    font-size: 14px;
    border: 0 none transparent;
    padding: 8px;

  }
  input[type='password'],.btn-blue{
    margin-top: 15px;
  }
  .btn-blue{
    width: 105px;
    padding: 5px 0;
    padding-bottom: 4px;
    font-size: 15px;
    float: left;
    font-family: Arial;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .forgot-password{
    font-size: 12px;
    margin-top: 25px;
    float: right;
    color: $blue;
    &:hover{
      color: $colorRed;
    }
  }
  .join-us{
    border-top:1px solid #4c5b6c;
    font-size: 12px;
    padding-top: 12px;
    clear: both;
    a{
      float: right;
      color: $blue;
      &:hover{
        color: $colorRed;
      }
    }
  }
}
.top{
  top: 65px;
}
.top-reval-model{
  top: 50%!important;
}
.user-menu{
  display: none;
  position: absolute;
  z-index: 1;
  img{
  }
  ul {
    background-color: #26394d;
    @include border-radius(6px);
    li{
      margin: 0;
      padding: 0.3em 0.7em;
      @include border-radius(6px);
      &:hover{
        background-color: $colorRed;
      }
      a{
        color: white;
        font-family: $arial;
        font-size: 14px;
        display: block;
        width: 100%;
      }
    }
  }
}

.ava img{
  right: 0;
  top: -7px;
  margin-bottom: -10px;
}
.ava:hover ~ .user-menu {
  display: block;
}
.user-menu:hover {
  display: block;
}
.user-menu-hover{
  @include border-radius(6px!important);
}





.reveal-modal {
  visibility: visible;
  display: block;
  position: absolute;
  left: 50%;
  z-index: 99;
  height: auto;
  margin-left: -40%;
  @include transition(all 0.3s ease-in-out);
  width: 80%;
  background-color: white;
  padding: 1.25em;
  border: solid 1px #666666;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  top: -999px;
  .close-reveal-modal{
    background: transparent;
    padding: 0;
    border: 0;
  }
}



//-----------------------------------------------profil-----------------------------------------------
.edit-profil{
  margin-top: 0.6em;
  font-size: 1.5em;
}
.profil-form {
  background-color: $bgLightGrey;
  margin-top: -1em;
  form {
    margin-top: 3em;
  }
  label{
    margin-bottom: 0.7em;
    display: block;
    span{
      margin-left: 1em;
    }
  }
  input{
    margin-bottom: 2em;
    &:focus{
    }
  }
  .btn.btn-blue{
    padding: 0.4em!important;
  }
  .btn.btn-green{
    padding: 0.4em!important;
    background-color: #27ae60!important;
    cursor: pointer;
    &:hover{
      background-color: $colorRed!important;
    }
  }
  .collapse{
    span{
      height: 3.35em;
      margin-top: 0em;
      padding: 0.5em;
      @include border-radius(6px);
      @include right-radius-border(0px);
    }
    input[type="text"]{
      @include left-radius-border(0px);
      @include right-radius-border(6px!important);
    }
  }
  .avatarka {
    margin-bottom: 1.5em;
    img{
      width: 84px;
    }
    input{
      margin-top: 1em;
    }
  }
  .ok{
    padding-top: 0.7em;
    position: absolute;
    top: 28px;
    right: -25px;
    background-color: #27ae60;
    padding: 0.5em;
    padding-top: 0.7em;
    @include border-radius(6px);
    img{
      margin-right: 0;
      display: inline-block;
    }
  }
}


//--------------------------------------------------new picture-----------------------------------------
.download-file{
  label, abbr, .input{
    color: white;
  }
  label{
    display: block;
  }
  label:first-child{
    font-weight: bold;
  }
  text-align: center;
  border: 2px dashed grey;
  margin: 1em 0;
  @include border-radius(6px);
  padding: 2em;
  color: white;
  input.file{
    width: auto;
  }
}
.title-download{
  margin-bottom: 1em;
  margin-top: 0.5em;
}
.btn-download{
  border: none;
  padding: 0.4em 1em;
  font-weight: bold;
  background-color: white;
  color: #70b2b8;
  cursor: pointer;
  @include border-radius(6px);
  margin-top: .3em;
  display: inline-block;
}
#crop{
  overflow: hidden;
  display: none;

  .blue{
    color: #70b2b8;
    font-weight: bold;
  }
  #crop-area{
    float: right;
  }
  #crop-pr{
    float: right;
    padding: 2em;
  }
  span.right{
    margin-right: 6px;
    float: right;
  }
}

.new-picture-description{
  margin-bottom: 2em;
  input, textarea{
    @include border-radius(6px);
    resize: none;
    margin-bottom: 10px;
  }
  label{
    margin-top: 0.5em;
    margin-bottom: 10px;
  }
  .btn{
    margin-top: 0;
    cursor: pointer;
    font-family: Arial;
    box-shadow: none;
    border: 0 none transparent;
    &:hover, &:active, &:focus, &[disabled]{
      box-shadow: none;
      background-color: #e74c3c !important;
      border: 0 none transparent;
    }
  }
  .picture_name{
    padding-top: 20px;
  }
}
div.picture_path, div.user_avatar{
  display: none;
}
