<p>Добро пожаловать, <%= @resource.name %>!</p>

<p>Пожалуйста, подтвердите свой email-адрес, кликнув по следующей ссылке:</p>

<p><%= link_to 'Подтвердить мой e-mail', user_confirmation_url(:confirmation_token => @token) %></p>
