#flash{style: 'display:none'}
  - if flash[:notice]
    .alert.alert-success
      %button.close{type: "button", 'data-dismiss' => "alert"} x
      %strong 
        Well done!
        = flash[:error]
  - elsif flash[:alert]
    .alert.alert-error
      %button.close{type: "button", 'data-dismiss' => "alert"} x
      %strong 
        Oh no!
        = flash[:alert]
  - elsif flash[:warning]
    .alert
      %button.close{type: "button", 'data-dismiss' => "alert"} x
      %strong 
        Warning!
        = flash[:warning]