.move
  %footer
    %a.infinity-footer-button
      Мы в сoцсетях
      %sup
    .show-social
      %ul
        %li
          %a.twitter{href: 'https://twitter.com/ArtOverflow'}
            Twitter
        %li
          %a.vk{href: 'http://vk.com/artoverflow'}
            Vkontakte
        %li
          %a.fc
            Facebook
      =image_tag "triangle-two.png"
    %h1
      &beta;
