.move
  %footer
    .test
    .footer-content
      .text-art
        %h1
          ARTOVERFLOW
        %p
          ArtOverflow является платформой, позволяющей художнику любого уровня выставлять,
          продвигать и делиться своими работами среди сообщества, посвященному искусcтву.
        %a{href:'#' }
          = image_tag('twitterFooter.png')
          Читай наш твиттер
      %ul.link-info
        %li.active
          %a{href:'#' }
            О проекте
        %li
          %a{href:'#'}
            Команда
        %li
          %a{href:'#'}
            Цели
        %li
          %a{href:'#'}
            Спонсоры
        %li
          %a{href:'#'}
            Политика
      .news
        %a{href:'#'}
          = image_tag('news.gif')
          Ads via The Deck BBEdit 10. A hundred new things. $50. Really.
    .copyright
      Copyright © 2009–2013 Artoverflow LLC. All screenshots © their respective owners. Shipped from Salem, Mass. USA.




