.move
  %footer
    %a.infinity-footer-button
      Мы в сoцсетях
      %sup
    .show-social
      %ul
        %li
          %a.twitter{href: 'https://twitter.com/ArtOverflow'}
            Twitter
        %li
          %a.vk{href: 'http://vk.com/artoverflow'}
            Vkontakte
        %li
          %a.fc
            Facebook
      =image_tag "triangle-two.png"
    %h1
      ARTOVERFLOW

#myModal{class: 'reveal-modal [expand, xlarge, large, medium, small]'}
  %h2 Awesome. I have it
  %p.lead Your couch.  It is mine.
  %p Im a cool paragraph that lives inside of an even cooler modal. Wins
  %a{class: "close-reveal-modal"}
    &#215;
