%header
  .alignment-header
    .container-left
      #logo
        %a{href: '/'}
      %nav#menu
        %ul
          = active_link_to "Движуха", '#'
          = active_link_to "Бездна", root_path
          = active_link_to "О нас", '#'
    .container-right
      .bell
        %span
          3
      .ava
        =image_tag 'ava.png'
      .setting
        %a
