.header.unselectable
  %header
    .alignment-header
      .container-left
        #logo
          %a{href: '/'}
        %nav#menu
          %ul
            = active_link_to "Движуха", user_pictures_path(User.first)
            = active_link_to "Бездна", abyss_index_path
            = active_link_to "О нас", root_path
      .container-right
        .bell
          %span
            3
        .ava
          =image_tag 'ava.png',class:'ava-img'
        .setting
          %a
  .popup-header(popup data-exclude='["js-link-header","popup-header","ava-img"]' data-trigger="ava-img" data-name="popup-menu" )
    %ul
      %li
        %a.js-link-header
          Профиль
      %li
        %a.js-link-header
          Настройки
      %li.exit
        %a.js-link-header
          Выход
